/**************************************************************************

    System-wide Breakpoints
    =======================

    Nelson component library uses REMs to size and scale components at various
    screen resolutions.

**************************************************************************/

@use "../abstracts/functions/non-destructive-map-merge" as *;
@use "../config";
@use "../contexts";

$breakpoints: non-destructive-map-merge(contexts.$breakpoints, config.$breakpoints);