/* stylelint-disable */

// Position Helper
.#{$helper-ns} {
  &static {
    position: static !important;
  }
  &relative {
    position: relative !important;
  }
  &absolute {
    position: absolute !important;
  }
  &fixed {
    position: fixed !important;
  }
  &sticky {
    position: sticky !important;
  }
}