@use "../abstracts/mixins" as m;
@use "../config";

@if (config.$enable-utility-all) {
  @if (config.$enable-utility-clearfix) {

    .#{config.$utility-ns}cf {
      @include m.clearfix;
    }
  }
}
