@use "sass:map";
@use "../config";
@use "@royalnavy/design-tokens" as vars;

/* stylelint-disable */
// Shadows Utility


@each $_breakpoint, $_breakpoint-val in vars.$breakpoints {
  @each $_size, $_shadow in vars.$shadows {
    @if $_breakpoint == 'root' {
      .#{config.$utility-ns}-shadow-#{$_size} {
        box-shadow: #{$_shadow} !important;
      }
    } @else {
      @media only screen and (min-width: map.get($_breakpoint-val, 'breakpoint')) {
        .#{$_breakpoint}\:#{config.$utility-ns}shadow-#{$_size} {
            box-shadow: #{$_shadow} !important;
        }
      }
    }
  }
}
