/* stylelint-disable */
@use "sass:map";
@use "../config";
@use "../vars";

$rules: (
  margin: m,
  padding: p
);

$sides: (
  top: t,
  right: r,
  bottom: b,
  left: l
);

@if (config.$enable-utility-all) {
  @if (config.$enable-utility-spacing) {

    // Build Spacing Utility Classes
    @each $_breakpoint, $_breakpoint-val in vars.$breakpoints {
      @each $_size, $_multiplier in vars.$spacing {
        @each $_rule, $_rule-shortname in $rules {

          @if $_breakpoint == 'root' {
            .#{config.$utility-ns}#{$_rule-shortname}-#{$_size} {
                #{$_rule}: $_multiplier !important;
            }
          } @else {
            .#{$_breakpoint}\:#{config.$utility-ns}#{$_rule-shortname}-#{$_size} {
              @media only screen and (min-width: map.get($_breakpoint-val, 'breakpoint')) {
                #{$_rule}: $_multiplier !important;
              }
            }
          }

        }
        @each $_property, $_shortname in $sides {
          @each $_rule, $_rule-shortname in $rules {

            @if $_breakpoint == 'root' {
              .#{config.$utility-ns}#{$_rule-shortname}#{$_shortname}-#{$_size} {
                #{$_rule}-#{$_property}: $_multiplier !important;
              }
            } @else {
              .#{$_breakpoint}\:#{config.$utility-ns}#{$_rule-shortname}#{$_shortname}-#{$_size} {
                @media only screen and (min-width: map-get($_breakpoint-val, 'breakpoint')) {
                  #{$_rule}-#{$_property}: $_multiplier !important;
                }
              }
            }
          }
        }
      }
    }

  }
}
