/* stylelint-disable */
@use "sass:map";
@use "../config";
@use "../vars";

// Visibility Utility

@mixin visibilitySharedStyles {
  &visible {
    visibility: visible !important;
  }
  &hidden {
    visibility: hidden !important;
  }
  &none {
    display: none !important;
  }
}


@if (config.$enable-utility-all) {
  @if (config.$enable-utility-visibility) {

    @each $_breakpoint, $_breakpoint-val in vars.$breakpoints {
      @if $_breakpoint == 'root' {
        .#{config.$utility-ns} {
          @include visibilitySharedStyles;
        }
      } @else {
        @media only screen and (min-width: map.get($_breakpoint-val, 'breakpoint')) {
          .#{$_breakpoint}\:#{config.$utility-ns} {
              @include visibilitySharedStyles;
          }
        }
      }
    }

  }
}
