$gutter: spacing(3);

.rn-masthead__container {
  box-sizing: content-box;
  max-width: $navy-content-width;
  margin: $gutter auto;
  padding: 0 $gutter;
}

.rn-masthead__logo {
  width: 280px;
  margin-bottom: spacing(1);
}

.rn-masthead__search {
  display: flex;
  flex-direction: row;
  margin: spacing(1) 0;
}

.rn-masthead__search .rn-textinput {
  margin: 0;
}

.rn-masthead__search .rn-btn {
  margin: 0 0 0 $gutter;
}

.rn-masthead__nav {
  display: none;
}

.rn-masthead__nav.is-open {
  display: block;
}

@include breakpoint("s") {
  .rn-masthead__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .rn-masthead__logo {
    width: 405px;
    margin-bottom: 0;
  }

  .rn-masthead__search {
    margin: 0;
  }

  .rn-masthead__search .rn-btn {
    display: none;
  }

  .rn-masthead .rn-nav {
    display: block;
    margin-left: -1rem;
  }

  .rn-masthead .rn-nav__list-item {
    display: inline-block;
    width: auto;
  }
}
