// Colours
$text-ld: #ffffff;
$text-dl: #6D8691;
$text-dl-darker: #272F37;

$primary: #56A7DC;
$service-primary: #56A7DC;
$design-primary: #5A8EDE;
$develop-primary: #6056DC;

$danger: #F6755E;
$warning: rgb(224, 175, 11);
$success: #158327;

// Spacing
$baseSpacing: 1rem;
$padding: $baseSpacing;
$margin: $baseSpacing;

// Typography
$baseFontSize: 1rem;
$header-level-1: $baseFontSize * 2.8;
$header-level-2: $baseFontSize * 2.2;
$header-level-3: $baseFontSize * 2;
$header-level-4: $baseFontSize * 1.8;
$paragraph: $baseFontSize * 1.6;
$nav-link: $baseFontSize * 1.6;