@font-face {
  font-family: 'Roboto Mono';
  src: local('RobotoMono-Regular'), local('RobotoMono-Regular'),
    url('helpers/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'),
    url('helpers/fonts/Lato-Regular.woff2') format('woff2'),
    url('helpers/fonts/Lato-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('Lato-Italic'),
    url('helpers/fonts/Lato-Italic.woff2') format('woff2'),
    url('helpers/fonts/Lato-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'), local('Lato-Medium'),
    url('helpers/fonts/Lato-Medium.woff2') format('woff2'),
    url('helpers/fonts/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
    url('helpers/fonts/Lato-MediumItalic.woff2') format('woff2'),
    url('helpers/fonts/Lato-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'),
    url('helpers/fonts/Lato-Semibold.woff2') format('woff2'),
    url('helpers/fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
    url('helpers/fonts/Lato-SemiboldItalic.woff2') format('woff2'),
    url('helpers/fonts/Lato-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'),
    url('helpers/fonts/Lato-Bold.woff2') format('woff2'),
    url('helpers/fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
