@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro Semibold'),
        local('SourceCodePro-Semibold'),
        url('../fonts/source-code-pro-v9-latin-600.woff2') format('woff2'),
        url('../fonts/source-code-pro-v9-latin-600.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'),
      url('../fonts/Lato-Regular.woff2') format('woff2'),
      url('../fonts/Lato-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('Lato-Italic'),
      url('../fonts/Lato-Italic.woff2') format('woff2'),
      url('../fonts/Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'), local('Lato-Medium'),
      url('../fonts/Lato-Medium.woff2') format('woff2'),
      url('../fonts/Lato-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
      url('../fonts/Lato-MediumItalic.woff2') format('woff2'),
      url('../fonts/Lato-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'),
      url('../fonts/Lato-Semibold.woff2') format('woff2'),
      url('../fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
      url('../fonts/Lato-SemiboldItalic.woff2') format('woff2'),
      url('../fonts/Lato-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'),
      url('../fonts/Lato-Bold.woff2') format('woff2'),
      url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
