// Globals
$__colors: null;
$__zIndex: null;
$__typography: null;
$__spacing: null;
$__shadows: null;
$__breakpoints: null;
$__states: null;

@import "config";

// Functions
@import "abstracts/functions/map-deep-get";
@import "abstracts/functions/map-get-default";
@import "abstracts/functions/non-destructive-map-merge";
@import "abstracts/functions/color";
@import "abstracts/functions/spacing";
@import "abstracts/functions/spacing";
@import "abstracts/functions/typography";

// Contexts
@import "contexts/light";

// import Variables
@import "vars/breakpoints";
@import "vars/colors";
@import "vars/spacing";
@import "vars/typography";
@import "vars/state";
@import "vars/zindex";

// Mixins
@import "abstracts/mixins/breakpoint";
@import "abstracts/mixins/clearfix";
@import "abstracts/mixins/cover";
@import "abstracts/mixins/hover";
@import "abstracts/mixins/pseudo";
@import "abstracts/mixins/shadows";
@import "abstracts/mixins/truncate";
@import "abstracts/mixins/typography";
@import "abstracts/mixins/zindex";

// Base
@import "base/normalize";
@import "base/box-sizing";
@import "base/fonts";
