# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
test-results
e2e-output/

# production
build
dist

# misc
.DS_Store
.vscode/
.idea

lerna-debug.log*
npm-debug.log*

package-lock.json

