@import "@royalnavy/css-framework";

.hero-banner {
  background-color: color(primary, 800);
  color: color(neutral, 100);
  padding: 0 spacing(10);
}

.hero-banner__main {
  width: 100%;
  padding: spacing(10) 0 spacing(6) 0;

  @media only screen and (min-width: 1000px) {
    width: 50%;
  }
}

.hero-banner__title {
  color: color(neutral, white);
  @include font-size(display-l);
  margin: 0;
}

.hero-banner__link {
  color: #E7F6FF;

  &:hover {
    color: color(neutral, white);
  }
}

.hero-banner__text {
  line-height: 1.6;
  margin-bottom: spacing(5);
  color: color(primary, 100);
}

.hero-banner__rule {
  border: 0;
  height: spacing(px);
  background-color: color(primary, 700);
  margin: 0;
}

.hero-banner__stakeholder-message {
  margin: 0;
  color: color(primary, 100);
  padding: spacing(5) 0;
}