@import "@royalnavy/css-framework";

body {
  font-size: font-size("m");
  p {
    font-size: font-size("m");
  }
}


.main {
  display: flex;
}

.aside {
  display: none;
}


@include breakpoint("xs") {
  .post-article {
    margin: 0;
    order: 2;
    flex-grow: 1;
  }

  .aside {
    display: block;
    flex: 0 0 180px;
  }

  .aside--primary {
    order: 1;
    margin-right: spacing("14");
  }

  .aside--secondary {
    margin-left: spacing("14");
    order: 3;
  }
}

@include breakpoint("m") {
  .aside {
    flex: 0 0 320px;
  }
}
