@use "@royalnavy/css-framework" as rn;

.home--info {
  border-top: 1px dotted rn.color("neutral", "200");
  padding: rn.spacing("13") 0;
}

.home__title {
  font-size: rn.font-size("xxl");
  margin-bottom: rn.spacing("12");
}

.home--updates {
  padding: rn.spacing("8");
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

  .card__title {
    font-size: rn.font-size("xl");
  }

  .card__text {
    font: {
      size: rn.font-size("base");
      weight: 300;
    }
    line-height: 1.5;
  }


}

.home--contact {
  margin-top: rn.spacing("11");
  padding: rn.spacing("8");
  @include rn.breakpoint("s") {
    margin-top: 0;
    padding: rn.spacing("8") rn.spacing("12") rn.spacing("8") rn.spacing("14");
  }
  .card__title {
    font-size: rn.font-size("xl");
    transition: color 0.2s;
  }

  svg {
    transition: all 0.2s;
  }


}
