@import "@royalnavy/css-framework";

.home--info {
  border-top: 1px dotted color("neutral", "200");
  padding: spacing("13") 0;
}

.home__title {
  font-size: font-size("xxl");
  margin-bottom: spacing("12");
}

.home--updates {
  padding: spacing("8");
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

  .card__title {
    font-size: font-size("xl");
  }

  .card__text {
    font: {
      size: font-size("base");
      weight: 300;
    }
    line-height: 1.5;
  }

  
}

.home--contact {
  margin-top: spacing("11");
  padding: spacing("8");
  @include breakpoint("s") {
    margin-top: 0;
    padding: spacing("8") spacing("12") spacing("8") spacing("14");
  }
  .card__title {
    font-size: font-size("xl");
    transition: color 0.2s;
  }

  svg {
    transition: all 0.2s;
  }

  
}