.rn-alert {
  background-color: color("primary", 000);
  border-radius: 0px 4px 4px 0px;
  border-left: 4px solid color("primary", 500);
  padding: 16px;
}

.rn-alert__header {
  display: flex;
  margin-bottom: spacing(1);
}

.rn-alert__icon {
  color: color("primary", 800);
  padding-right: 6px;
}

.rn-alert__title {
  color: color("primary", 800);
  font-size: font-size(s);
  font-weight: bold;
}

.rn-alert__content {
  display: flex;
}

.rn-alert__description {
  color: color("primary", 600);
  font-size: font-size(xs);
}
