@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

$_alert-background-color: f.color("neutral", "white");
$_alert-border-color: f.color("neutral", "100");
$_alert-state-color: f.color("action", "500");
$_alert-title-color: f.color("neutral", "600");
$_alert-icon-color: f.color("action", "500");
$_alert-close-color: f.color("neutral", "300");
$_alert-close-color--hover: f.color("neutral", "500");
$_alert-close-background-color: f.color("neutral", "white");
$_alert-close-background-color--hover: f.color("neutral", "000");
$_alert-description-color: f.color("neutral", "400");
$_alert-footer-border-color: f.color("neutral", "000");

// Danger
$_danger-alert-background-color: f.color("danger", "000");
$_danger-alert-state-color: f.color("danger", "500");
$_danger-alert-title-color: f.color("danger", "800");
$_danger-alert-icon-color: f.color("danger", "500");


// Success
$_success-alert-background-color: f.color("success", "000");
$_success-alert-state-color: f.color("success", "500");
$_success-alert-title-color: f.color("success", "900");
$_success-alert-icon-color: f.color("success", "600");


// Warning
$_warning-alert-background-color: f.color("warning", "000");
$_warning-alert-state-color: f.color("warning", "500");
$_warning-alert-title-color: f.color("warning", "900");
$_warning-alert-icon-color: f.color("warning", "600");

.rn-alert {
  background-color: $_alert-background-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  border: f.spacing("px") solid $_alert-border-color;
  border-radius: 4px;
  padding: f.spacing("4") f.spacing("4") f.spacing("4") f.spacing("6");
  position: relative;
  display: flex;
  align-items: flex-start;

  @include m.breakpoint("s") {
    padding-right: f.spacing("18");
  }

  &::before {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    content: "";
    width: 4px;
    background: $_alert-state-color;
    border-radius: 4px;
  }

  &--danger::before {
    background-color: $_danger-alert-state-color;
  }

  &--success::before {
    background-color: $_success-alert-state-color;
  }

  &--warning::before {
    background-color: $_warning-alert-state-color;
  }
}

.rn-alert__close {
  margin-left: auto;
  border: none;
  font-size: f.font-size("base");
  color: $_alert-close-color;
  font-weight: 600;
  transition: all 0.3s;
  border-radius: 2px;
  padding: f.spacing("4") f.spacing("10");
  background-color: $_alert-close-background-color--hover;
  @include m.breakpoint("s") {
    position: absolute;
    background-color: $_alert-close-background-color;
    margin-top: 0;
    top: f.spacing("4");
    right: f.spacing("4");
    bottom: f.spacing("4");
    padding: f.spacing("2");
    width: f.spacing("17");
  }

  &:hover {
    background-color: $_alert-close-background-color--hover;
    color: $_alert-close-color--hover;
    cursor: pointer;
  }
}

.rn-alert__content {
  width: 100%;
  padding: f.spacing("4") f.spacing("4") f.spacing("4") 0;
}

.rn-alert__description {
  color: $_alert-description-color;
  font-size: f.font-size("base");
  font-weight: 400;
}

.rn-alert__footer {
  border-top: f.spacing("px") solid $_alert-footer-border-color;
  padding-top: f.spacing("6");
  margin-top: f.spacing("6");
  @include m.breakpoint("s") {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}

.rn-alert__icon {
  display: inline-flex;
  align-self: flex-start;
  color: $_alert-icon-color;
  padding: f.spacing("4") f.spacing("5") f.spacing("4") f.spacing("6");
  transform: translateY(1px);

  &--danger {
    color: $_danger-alert-icon-color;
  }

  &--success {
    color: $_success-alert-icon-color;
  }

  &--warning {
    color: $_warning-alert-icon-color;
  }
}

.rn-alert__title {
  color: $_alert-title-color;
  font-size: f.font-size("l");
  font-weight: bold;
  margin-bottom: f.spacing("2");

  &--danger {
    color: $_danger-alert-title-color;
  }

  &--success {
    color: $_success-alert-title-color;
  }

  &--warning {
    color: $_warning-alert-title-color;
  }
}
