@use "sass:map";
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

$alert-states: (
  neutral: (
    background: f.color("neutral", "000"),
    border: f.color("neutral", "100"),
    copy: f.color("neutral", "600"),
    title: f.color("neutral", "900"),
  ),
  action: (
    background: f.color("action", "000"),
    border: f.color("action", "100"),
    copy: f.color("action", "800"),
    title: f.color("action", "900"),
  ),
  danger: (
    background: f.color("danger", "000"),
    border: f.color("danger", "100"),
    copy: f.color("danger", "800"),
    title: f.color("danger", "900"),
  ),
  warning: (
    background: f.color("warning", "100"),
    border: f.color("warning", "300"),
    copy: f.color("warning", "800"),
    title: f.color("warning", "900"),
  ),
  success: (
    background: f.color("success", "000"),
    border: f.color("success", "200"),
    copy: f.color("success", "800"),
    title: f.color("success", "900"),
  ),
);

.rn-alert {
  position: relative;
  border-radius: 4px;
  max-width: 600px;
  padding: f.spacing("8") f.spacing("10");

  &__title {
    @include m.font-size("base");
    margin: 0 0 f.spacing("2") 0;
  }
  &__message {
    @include m.font-size("s");
    margin: 0;
  }

  opacity: 0;

  &.open {
    opacity: 100;
  }

  .content {
    p {
      line-height: 1.6;
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  @each $state, $variation in $alert-states {
    &.#{$state} {
      background: map.get($variation, "background");
      border: 1px solid map.get($variation, "border");
      .rn-alert {
        &__title {
          color: map.get($variation, "title");
        }
        &__message {
          color: map.get($variation, "copy");
        }
      }
    }
  }

  &--event {
    border-radius: 3px;
    background: f.color("neutral", "700");
    border: none;
    padding: f.spacing("6") f.spacing("8");
    .rn-alert {
      &__title {
        display: none;
      }
      &__message {
        color: f.color("neutral", "000");
      }
    }
  }

  &__close {
    display: none;
  }
}
