$alert-states: (
  neutral: (
    background: color("neutral", "000"),
    border: color("neutral", "100"),
    copy: color("neutral", "600"),
    title: color("neutral", "900"),
  ),
  primary: (
    background: color("primary", "000"),
    border: color("primary", "100"),
    copy: color("primary", "800"),
    title: color("primary", "900"),
  ),
  danger: (
    background: color("danger", "000"),
    border: color("danger", "100"),
    copy: color("danger", "800"),
    title: color("danger", "900"),
  ),
  warning: (
    background: color("warning", "100"),
    border: color("warning", "300"),
    copy: color("warning", "800"),
    title: color("warning", "900"),
  ),
  success: (
    background: color("success", "000"),
    border: color("success", "200"),
    copy: color("success", "800"),
    title: color("success", "900"),
  ),
);

.rn-alert {
  position: relative;
  border-radius: 4px;
  max-width: 600px;
  padding: spacing("8") spacing("10");

  &__title {
    @include font-size(s);
    margin: 0 0 spacing("2") 0;
  }
  &__message {
    @include font-size(xs);
    margin: 0;
  }

  opacity: 0;

  &.open {
    opacity: 100;
  }

  .content {
    p {
      line-height: 1.6;
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  @each $state, $variation in $alert-states {
    &.#{$state} {
      background: map-get($variation, "background");
      border: 1px solid map-get($variation, "border");
      .rn-alert {
        &__title {
          color: map-get($variation, "title");
        }
        &__message {
          color: map-get($variation, "copy");
        }
      }
    }
  }

  &--event {
    border-radius: 3px;
    background: color("neutral", "700");
    border: none;
    padding: spacing("6") spacing("8");
    .rn-alert {
      &__title {
        display: none;
      }
      &__message {
        color: color("neutral", "000");
      }
    }
  }

  &__close {
    display: none;
  }
}
