@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.rn-autosuggest {
  max-width: 600px;
  position: relative;
}

.rn-autosuggest__input {
  width: 100%;
  padding: f.spacing("6");
  border-radius: 3px;
  @include m.font-size("base");
  border: 1px solid f.color("neutral", "400");
  transition: all 0.2s;
  outline: none;
  &:focus {
    border: 1px solid f.color("action", "400");
    box-shadow: 0 0 0 1px f.color("action", "400");
  }

  &.open {
    + .rn-autosuggest__suggestions {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.rn-autosuggest__suggestions {
  @include m.shadow("1");
  top: calc(100% + 8px);
  position: absolute;
  border: 1px solid f.color("neutral", "200");
  background-color: f.color("neutral", "white");
  border-radius: 5px;
  padding: f.spacing("2") 0;
  min-width: 160px;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
  transition: all 0.3s;
  max-height: 240px;
  overflow-y: scroll;
  &-list {
    padding: 0;
    margin: 0;
  }
}

.rn-autosuggest__suggestion {
  cursor: pointer;
  @include m.font-size("s");    
  padding: f.spacing("4") f.spacing("6");
  display: flex;
  justify-content: space-between;
  color: f.color("neutral", "800");
  font-weight: 500;
  &:hover {
    color: f.color("neutral", "800");
    background-color: f.color("neutral", "000");
  }
  &--highlighted {
    background: skyblue
  }
}
