.rn-avatar {
  display: block;
  position: relative;
  margin: 0;

  border: none;
  background: transparent;
}

.rn-avatar__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: color(neutral, white);
  color: color(neutral, 600);
  font-size: 12px;

}
