$badge-border-radius: 3px;
$badge-font-weight: 700;

$badge-sizes: (
  small: (
    font-size: font-size("xxs"),
    padding: spacing("2") spacing("4")
  ),
  regular: (
    font-size: font-size("xs"),
    padding: spacing("2") spacing("4")
  ),
  large: (
    font-size: font-size("s"),
    padding: spacing("2") spacing("6")
  ),
  xlarge: (
    font-size: font-size("m"),
    padding: spacing("2") spacing("6")
  )
);

$badge-states: (
  neutral: (
    color: color("neutral", "900"),
    solid: color("neutral", "500"),
    faded: color("neutral", "100")
  ),
  action: (
    color: color("action", "700"),
    solid: color("action", "500"),
    faded: color("action", "100")
  ),
  danger: (
    color: color("danger", "800"),
    solid: color("danger", "500"),
    faded: color("danger", "100")
  ),
  warning: (
    color: color("warning", "800"),
    solid: color("warning", "600"),
    faded: color("warning", "200")
  ),
  success: (
    color: color("success", "800"),
    solid: color("success", "600"),
    faded: color("success", "100")
  )
);

.rn-badge {
  display: inline-block;
  border-radius: $badge-border-radius;
  font-weight: $badge-font-weight;
  vertical-align: middle;

  @each $state, $variation in $badge-states {
    &.rn-badge--#{$state} {
      color: color("neutral", "white");
      background: map-get($variation, "solid");
    }
  }

  &--solid {
    @extend .rn-badge;
    @each $state, $variation in $badge-states {
      &.rn-badge--#{$state} {
        color: color("neutral", "white");
        background: map-get($variation, "solid");
      }
    }
  }

  &--faded {
    @extend .rn-badge;
    @each $state, $variation in $badge-states {
      &.rn-badge--#{$state} {
        color: map-get($variation, "color");
        background: map-get($variation, "faded");
      }
    }
  }

  @each $size, $values in $badge-sizes {
    &.rn-badge--#{$size} {
      font-size: map-get($values, "font-size");
      padding: map-get($values, "padding");
    }
  }


  &.rn-badge--pill {
    border-radius: 100px;
  }
}
