@use "sass:map";
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

$badge-border-radius: 3px;
$badge-font-weight: 600;

$badge-sizes: (
  small: (
    font-size: f.font-size("xxs"),
    padding: f.spacing("2") f.spacing("4")
  ),
  regular: (
    font-size: f.font-size("xs"),
    padding: f.spacing("2") f.spacing("4")
  ),
  large: (
    font-size: f.font-size("s"),
    padding: f.spacing("2") f.spacing("6")
  ),
  xlarge: (
    font-size: f.font-size("base"),
    padding: f.spacing("2") f.spacing("6")
  )
);

$badge-states: (
  neutral: (
    color: f.color("neutral", "900"),
    solid: f.color("neutral", "500"),
    faded: f.color("neutral", "100")
  ),
  action: (
    color: f.color("action", "700"),
    solid: f.color("action", "500"),
    faded: f.color("action", "100")
  ),
  danger: (
    color: f.color("danger", "800"),
    solid: f.color("danger", "500"),
    faded: f.color("danger", "100")
  ),
  warning: (
    color: f.color("warning", "800"),
    solid: f.color("warning", "600"),
    faded: f.color("warning", "200")
  ),
  success: (
    color: f.color("success", "800"),
    solid: f.color("success", "600"),
    faded: f.color("success", "100")
  )
);

.rn-badge {
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1;

  @each $state, $variation in $badge-states {
    &.rn-badge--#{$state} {
      color: f.color("neutral", "white");
      background: map.get($variation, "solid");
    }
  }

  &--solid {
    @each $state, $variation in $badge-states {
      &.rn-badge--#{$state} {
        color: f.color("neutral", "white");
        background: map.get($variation, "solid");
      }
    }
  }

  &--faded {
    @each $state, $variation in $badge-states {
      &.rn-badge--#{$state} {
        color: map.get($variation, "color");
        background: map.get($variation, "faded");
      }
    }
  }

  @each $size, $values in $badge-sizes {
    &.rn-badge--#{$size} {
      font-size: map.get($values, "font-size");
      padding: map.get($values, "padding");
    }
  }


  &.rn-badge--pill {
    padding: f.spacing("3") f.spacing("5");
    border-radius: 100px;

    @each $size, $values in $badge-sizes {
      &.rn-badge--#{$size} {
        font-size: map.get($values, "font-size");
        padding: map.get($values, "padding");
      }
    }
  }
}
