@use "../abstracts/functions" as f;

.rn-breadcrumbs {
  display: block;
  font-size: f.font-size("base");
  margin: 0;
  padding: 0;
  list-style: none;
}

.rn-breadcrumbs__breadcrumb {
  display: inline-block;

  > a {
    color: f.color("neutral", "400");
    font-weight: 400;
    text-decoration: none;
  }
}

.rn-breadcrumbs__link:hover {
  color: f.color("action", "500");
}

.rn-breadcrumbs__breadcrumb:hover ~ .rn-breadcrumbs__breadcrumb {
  opacity: 0.2;
}

.rn-breadcrumbs__title {
  font-weight: 700;
  cursor: default;
}

.rn-breadcrumbs__separator {
  display: inline-block;
  padding: 0 f.spacing("4");
}
