$btn-border-radius: 3px;
$btn-disabled-opacity: 0.4;
$btn-block-spacing-y: 1rem;
$animation-timing: 0.3s;
$btn-focus-width: 0.2rem;

.rn-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: color("neutral", "500");
  background-color: color("neutral", "white");
  border: 1px solid transparent;
  border-radius: $btn-border-radius;  
  outline: 0;
  padding: spacing("6") spacing("8");
  font-size: font-size("base");
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: all $animation-timing;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: color("neutral", "100");
  }

  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba(color("action", "700") , 0.5);
  }

  &__icon {
    margin-left: spacing("4");
  }

  
  // States
  &--primary {

    background: color("action", "600");
    color: color("neutral", "white");

    &:hover {
      background: color("action", "800");
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba(color("danger", "800"), 0.5);
    }
    
    &.rn-btn--danger {
      background: color("danger", "500");
      color: color("neutral", "white");

      &:hover {
        background: color("danger", "800");
        color: color("neutral", "white");
      }
      
      &:focus {
        box-shadow: 0 0 0 $btn-focus-width rgba(color("danger", "800"), 0.5);
      }
    }

  }

  &--secondary {
    border: 1px solid color("neutral", "100");

    &.rn-btn--danger {
      color: color("danger", "800");
    
      &:hover {
        color: color("danger", "800");
      }
    
      &:focus {
        box-shadow: 0 0 0 $btn-focus-width rgba(color("danger", "800"), 0.5);
      }
    }
  }

  &--tertiary {
    border: none;
  }

  // Icon
  &__icon {
    display: inline-flex;
    align-items: center;
    margin-left: spacing(2);
  }

  // Sizes
  &--small {
    font-size: font-size("xxs");
    padding: spacing("4") spacing("6");
    .rn-btn__icon svg {
      width: 13px;
      height: 13px;
    }
  }
  
  &--large {
    font-size: font-size("s");
    padding: spacing("6") spacing("10");
    .rn-btn__icon svg {
      width: 15px;
      height: 15px;
    }
  }
  
  &--xlarge {
    font-size: font-size("m");
    padding: spacing("6") spacing("10");
    .rn-btn__icon svg {
      width: 20px;
      height: 20px;
    }
  }


}



.rn-btn.disabled,
.rtn-btn:disabled,
fieldset:disabled a.rn-btn {
  pointer-events: none;
}

.rn-btn.rn-btn--disabled,
.rn-btn.rn-btn--disabled:hover,
.rn-btn.rn-btn--disabled:focus {
  background: color(neutral, 000);
  color: color(neutral, 500);
  cursor: not-allowed;
}
