$btn-border-radius: 3px;
$btn-font-weight: 600;
$btn-disabled-opacity: 0.4;
$btn-block-spacing-y: 1rem;
$animation-timing: 0.3s;

.rn-btn {
  display: inline-block;
  color: color(primary, 900);
  background-color: color(neutral, white);
  border: 1px solid transparent;
  border-radius: $btn-border-radius;
  margin: spacing(1);
  padding: spacing(3) spacing(4);
  font-size: font-size(xs);
  font-weight: $btn-font-weight;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: all $animation-timing;

  &:hover {
    text-decoration: none;
    background-color: darken(color(neutral, white), 10);
  }

  &:focus,
  &.focus {
    outline: 0;
  }
}

/* Solid */
.rn-btn.rn-btn--primary {
  color: color(neutral, white);
  background: color(primary, 900);

  &:hover {
    background-color: darken(color(primary, 900), 10);
  }
}

.rn-btn.rn-btn--secondary {
  color: color(primary, 900);
  background: color(neutral, 100);

  &:hover {
    background-color: darken(color(neutral, 100), 10);
  }
}

.rn-btn.rn-btn--secondary {
  color: color(primary, 900);
  background: color(neutral, 100);

  &:hover {
    background-color: darken(color(neutral, 100), 10);
  }
}

.rn-btn.rn-btn--danger {
  color: color(neutral, white);
  background: color(danger, 600);

  @include hover {
    background-color: darken(color(danger, 700), 10);
  }
}

.rn-btn.rn-btn--warning {
  color: color(neutral, white);
  background: color(warning, 600);

  @include hover {
    background-color: darken(color(warning, 600), 10);
  }
}

.rn-btn.rn-btn--success {
  color: color(neutral, white);
  background: color(success, 700);

  @include hover {
    background-color: darken(color(success, 700), 10);
  }
}

.rn-btn.rn-btn--small {
  font-size: font-size(xxs);
  padding: spacing(2) spacing(3);
}

.rtn-btn.rtn-btn--large {
  font-size: font-size(s);
  padding: spacing(3) spacing(5);
}

/* Outline */
.rn-btn.rn-btn--outline {
  border: 2px solid color(neutral, white);

  &:hover {
    background: color(neutral, white);
    border: 2px solid darken(color(neutral, white), 10);
  }
}

.rn-btn.rn-btn--outline.rn-btn--primary {
  background: color(neutral, white);
  border: 2px solid color(primary, 900);
  color: color(primary, 900);

  &:hover {
    background-color: darken(color(neutral, white), 10);
  }
}

.rn-btn.rn-btn--outline.rn-btn--secondary {
  background: color(neutral, white);
  border: 2px solid color(neutral, 100);
  color: color(primary, 900);

  &:hover {
    background-color: darken(color(neutral, white), 10);
  }
}

.rn-btn.rn-btn--outline.rn-btn--danger {
  background: color(neutral, white);
  border: 2px solid color(danger, 600);
  color: color(danger, 600);

  &:hover {
    background-color: darken(color(neutral, white), 10);
  }
}

.rn-btn.rn-btn--outline.rn-btn--warning {
  background: color(neutral, white);
  border: 2px solid color(warning, 600);
  color: color(warning, 600);

  &:hover {
    background-color: darken(color(neutral, white), 10);
  }
}

.rn-btn.rn-btn--outline.rn-btn--success {
  background: color(neutral, white);
  border: 2px solid color(success, 700);
  color: color(success, 700);

  @include hover {
    background-color: darken(color(neutral, white), 10);
  }
}

.rn-btn.rn-btn--small {
  font-size: font-size(xxs);
  padding: spacing(2) spacing(3);
}

.rtn-btn.rtn-btn--large {
  font-size: font-size(s);
  padding: spacing(3) spacing(5);
}

.rn-btn.disabled,
.rtn-btn:disabled,
fieldset:disabled a.rn-btn {
  pointer-events: none;
}
