$btn-border-radius: 3px;
$btn-font-weight: 500;
$btn-disabled-opacity: 0.4;
$btn-block-spacing-y: 1rem;
$animation-timing: 0.3s;
$btn-focus-width: 0.2rem;

.rn-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: color(neutral, 500);
  background-color: color(neutral, white);
  border: 1px solid transparent;
  border-radius: $btn-border-radius;
  outline: 0;
  padding: spacing(7) spacing(8);
  font-size: font-size(base);
  font-weight: $btn-font-weight;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: all $animation-timing;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: color(neutral, 100);
  }

  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba(color(primary, 700) , 0.5);
  }
}

.rn-btn + .rn-btn {
  margin-left: spacing(4);
}

.rn-btn--primary {
  background: color(primary, 600);
  color: color(neutral, white);

  &:hover {
    background: color(primary, 800);
  }
}

.rn-btn--secondary {
  border: 1px solid color(neutral, 100);
}

.rn-btn--danger {
  color: color(danger, 800);

  &:hover {
    color: color(danger, 800);
  }

  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba(color(danger, 800) , 0.5);
  }
}

.rn-btn--danger.rn-btn--primary {
  background: color(danger, 500);
  color: color(neutral, white);

  &:hover {
    background: color(danger, 800);
    color: color(neutral, white);
  }
}

.rn-btn__icon {
  margin-left: spacing(4)
}

.rn-btn.rn-btn--small {
  line-height: 1.1;
  font-size: font-size(s);
  padding: spacing(5) spacing(6);
}

.rn-btn.rn-btn--large {
  line-height: 0.9;
  font-size: font-size(xl);
  padding: spacing(7) spacing(10);
}

.rn-btn.disabled,
.rtn-btn:disabled,
fieldset:disabled a.rn-btn {
  pointer-events: none;
}
