@use "../config";
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

$btn-border-radius: 3px;
$btn-disabled-opacity: 0.4;
$btn-block-spacing-y: 1rem;
$btn-focus-width: 0.2rem;

.rn-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: f.color("neutral", "500");
  background-color: f.color("neutral", "white");
  border: 1px solid transparent;
  border-radius: $btn-border-radius;  
  outline: 0;
  padding: f.spacing("6") f.spacing("8");
  font-size: f.font-size("base");
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: all config.$animation-timing;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: f.color("neutral", "100");
  }

  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba(f.color("action", "700") , 0.5);
  }
  
  // States
  &--primary {

    background: f.color("action", "600");
    color: f.color("neutral", "white");

    &:hover {
      background: f.color("action", "800");
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba(f.color("danger", "800"), 0.5);
    }
    
    &.rn-btn--danger {
      background: f.color("danger", "500");
      color: f.color("neutral", "white");

      &:hover {
        background: f.color("danger", "800");
        color: f.color("neutral", "white");
      }
      
      &:focus {
        box-shadow: 0 0 0 $btn-focus-width rgba(f.color("danger", "800"), 0.5);
      }
    }

  }

  &--secondary {
    border: 1px solid f.color("neutral", "100");

    &.rn-btn--danger {
      color: f.color("danger", "800");
    
      &:hover {
        color: f.color("danger", "800");
      }
    
      &:focus {
        box-shadow: 0 0 0 $btn-focus-width rgba(f.color("danger", "800"), 0.5);
      }
    }
  }

  &--tertiary {
    border: none;
  }

  // Icon
  &__icon {
    display: inline-flex;
    align-items: center;
    margin-left: f.spacing("4");
  }

  // Sizes
  &--small {
    font-size: f.font-size("s");
    padding: f.spacing("4") f.spacing("6");
    .rn-btn__icon svg {
      width: 13px;
      height: 13px;
    }
  }
  
  &--large {
    font-size: f.font-size("base");
    padding: f.spacing("6") f.spacing("10");
    .rn-btn__icon svg {
      width: 15px;
      height: 15px;
    }
  }
  
  &--xlarge {
    font-size: f.font-size("l");
    padding: f.spacing("6") f.spacing("10");
    .rn-btn__icon svg {
      width: 20px;
      height: 20px;
    }
  }


}



.rn-btn.disabled,
.rtn-btn:disabled,
fieldset:disabled a.rn-btn {
  pointer-events: none;
}

.rn-btn.rn-btn--disabled,
.rn-btn.rn-btn--disabled:hover,
.rn-btn.rn-btn--disabled:focus {
  background: f.color("neutral", "000");
  color: f.color("neutral", "500");
  cursor: not-allowed;
}
