@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.rn-card {
  @include m.font-size("base");
  @include m.shadow("1");
  background-color: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "100");
  border-radius: 3px;

  > *:first-child {
    margin-top: 0;
  }

  &__header {
    background-color: f.color("neutral", "000");
    padding: f.spacing("8") f.spacing("11");
    border-bottom: 1px solid f.color("neutral", "100");
    @include m.font-size("base");
    color: f.color("neutral", "800");
    margin: 0;
  }

  &__body {
    padding: f.spacing("8");
    & + & {
      border-top: 1px solid f.color("neutral", "100");
    }
    p {
      @include m.font-size("base");
      color: f.color("neutral", "600");
      font-weight: 400;
      line-height: 1.6;
      margin: 0;
    }
  }

  .small {
    padding: f.spacing("8") f.spacing("10");

    .title {
      @include m.font-size("m");
    }
  }
}
