@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.rn-card-frame {
  border-radius: 3px;
  background-color: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "100");
  @include m.shadow("1");
}
