@import "../library";

.rn-check {
  &__label {
    display: inline-block;
    vertical-align: center;
    @include font-size(s);
    color: color(neutral, 600);
  }
}

.rn-check__input {
  margin-left: spacing(2);
  position: relative;
  top: -1px;
}

.rn-check__legend {
  @include font-size(xs);
  @include cover;
  color: color(neutral, 700);
  padding: 0 spacing(1);
}

.rn-check--has-legend {
  width: 100%;
  padding: spacing(1) spacing(3) spacing(3) spacing(3);
  border: 1px solid color(neutral, 400);
  border-radius: 4px;
}
