@use "../abstracts/functions" as f;

$animation-timing: 0.2s;
$checkbox-focus-width: 0.1rem;

.rn-checkbox-card {
  display: inline-flex;
  flex-direction: column;
  width: 22rem;
  padding: f.spacing("10");
  margin: f.spacing("4");
  border-radius: 4px;
  border: 1px solid f.color("neutral", "100");
  outline: none;

  &:hover {
    border-color: f.color("action", "400");
    box-shadow: 0 0 0 3px f.color("action", "100");
    cursor: pointer;

    .rn-checkbox input ~ .rn-checkbox__checkmark {
      border: 1px solid f.color("action", "500");
      outline: none;
      box-shadow: 0 0 0 $checkbox-focus-width f.color("action", "500");
      transition: all $animation-timing;
    }
  }

  &.is-selected {
    border-color: f.color("action", "400");
  }
}

.rn-checkbox-card__description {
  color: f.color("neutral", "400");
  padding-top: f.spacing("4");
}

.rn-checkbox-card .rn-checkbox__label {
  font-size: f.font-size("m");
  color: f.color("neutral", "500");
}
