@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

$animation-timing: 0.2s;
$checkbox-focus-width: 1px;

.rn-checkbox {
  display: block;
  position: relative;
  padding-left: f.spacing("11");
  font-size: f.font-size("base");
  user-select: none;

  .rn-form & {
    padding-top: f.spacing("6");
    padding-bottom: f.spacing("6");
  }
}

.rn-checkbox__outer-wrapper {
  display: inline-flex;
  flex-direction: row;
}

.rn-checkbox__label {
  color: f.color("neutral", "400");
  padding: f.spacing("1") 0;
}

.rn-checkbox .rn-checkbox__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rn-checkbox__checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-color: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "200");
  border-radius: 4px;
}

/* Hover state, light blue outline */
.rn-checkbox input:hover ~ .rn-checkbox__checkmark,
.rn-checkbox input:active ~ .rn-checkbox__checkmark {
  border: 1px solid f.color("action", "500");
  outline: none;
  box-shadow: 0 0 0 $checkbox-focus-width f.color("action", "500");
  transition: all $animation-timing;
}

/* Checked state, solid blue */
.rn-checkbox input:checked ~ .rn-checkbox__checkmark {
  background-color: f.color("action", "600");
  border: 1px solid f.color("action", "600");
  text-align: center;
}

.rn-checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rn-checkbox input:checked ~ .rn-checkbox__checkmark:after {
  display: block;
}

/* Checkmark, white tick */
.rn-checkbox .rn-checkbox__checkmark:after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC44MjIgMGMxLjA1LS4wMjcgMS41NzQgMS4zMDQuODI3IDIuMDhMNC4yOTggNy43NGEuODMuODMgMCAwIDEtMS4yMDcgMEwuMzc2IDQuODU1Qy0uNzUyIDMuNzE4LjkxNCAxLjk1NiAxLjk5IDMuMTQ5bDEuNTA4IDEuNTk1Yy4xMDUuMTEuMjg4LjExLjQwNyAwbDQuMTMtNC4zN0ExLjEgMS4xIDAgMCAxIDguODIzIDB6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: f.color("neutral", "white");
  border-radius: 2px;
}

.rn-checkbox__invalid-feedback {
  color: f.color("danger", "700");
  margin: f.spacing("4") f.spacing("6");
  font-size: f.font-size("base");
}

.rn-checkbox--is-disabled {
  .rn-checkbox__label {
    cursor: not-allowed;
    color: f.color("neutral", "200");
  }

  input ~ .rn-checkbox__checkmark {
    background-color: f.color("neutral", "000");
    border: 1px solid f.color("neutral", "100");
  }

  input:hover ~ .rn-checkbox__checkmark,
  input:active ~ .rn-checkbox__checkmark {
    border: 1px solid f.color("neutral", "100");
    box-shadow: none;
    cursor: not-allowed;
  }
}
