.rn-container {
  max-width: $navy-content-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: spacing(3);
  padding-right: spacing(3);

  &.rn-container--small {
    padding-left: spacing(2);
    padding-right: spacing(2);
  }

  &.rn-container--large {
    padding-left: spacing(5);
    padding-right: spacing(5);
  }
}
