@import "../library";

.rn-container {
  padding-left: 40px;
  padding-right: 40px;

  &.flush {
    padding-left: 0;
    padding-right: 0;
  }

  &.small {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.large {
    padding-left: 80px;
    padding-right: 80px;
  }

  &.centred {
    max-width: 1600px;
    margin: 0 auto;
  }
}
