@use "../config";
@use "../abstracts/functions" as f;

.rn-container {
  max-width: config.$content-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: f.spacing("12");
  padding-right: f.spacing("12");

  &.rn-container--small {
    padding-left: f.spacing("12");
    padding-right: f.spacing("12");
  }

  &.rn-container--large {
    padding-left: f.spacing("13");
    padding-right: f.spacing("13");
  }
}
