.rn-container {
  max-width: $navy-content-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: spacing(12);
  padding-right: spacing(12);

  &.rn-container--small {
    padding-left: spacing(12);
    padding-right: spacing(12);
  }

  &.rn-container--large {
    padding-left: spacing(13);
    padding-right: spacing(13);
  }
}
