@use "../abstracts/functions" as f;

.rn-date-picker {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  margin: f.spacing("6") 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  width: 100%;

  &.is-disabled {
    cursor: not-allowed;

    .rn-date-picker__input {
      cursor: not-allowed;
    }
  }
}

.rn-date-picker__tether {
  z-index: 9999;
  pointer-events: none;

  &.is-visible {
    pointer-events: all;
  }
}

.rn-date-picker__outer-wrapper {
  display: inline-flex;
  flex-direction: row;
  background-color: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "200");
  border-radius: 4px;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.rn-date-picker.is-open .rn-date-picker__outer-wrapper {
  box-shadow: 0 0 0 1px f.color("action", "600");
  border: 1px solid f.color("action", "600");
  background: f.color("neutral", "white");
}

.rn-date-picker.is-invalid .rn-date-picker__outer-wrapper {
  border-color: f.color("danger", "700");
  box-shadow: 0 0 0 1px f.color("danger", "700");
}

.rn-date-picker.is-valid .rn-date-picker__outer-wrapper {
  border-color: f.color("success", "700");
  box-shadow: 0 0 0 1px f.color("success", "700");
}

.rn-date-picker__input-wrapper {
  position: relative;
  flex-grow: 1;
  order: 2;
}

.rn-date-picker__label {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: translate(f.spacing("6"), f.spacing("6")) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
  color: f.color("neutral", "400");
  font-size: f.font-size("base");
}

.rn-date-picker.is-open .rn-date-picker__label,
.rn-date-picker.has-content .rn-date-picker__label {
  transform: translate(f.spacing("6"), 6px) scale(0.8);
}

.rn-date-picker__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: f.spacing("10") f.spacing("6") f.spacing("2");
  border: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;
  font-size: f.font-size("base");
}

.rn-date-picker__input:focus {
  outline: 0;
}

.rn-date-picker__end-adornment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: f.spacing("4") f.spacing("5");
  border: none;
  background: transparent;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}

.rn-date-picker__end-adornment {
  order: 3;
  padding-left: 0;
}

.rn-date-picker__indicator-separator {
  width: 1px;
  height: 100%;
  margin-right: f.spacing("8");
  background: f.color("neutral", "100");
}

.rn-date-picker .rn-arrow {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: translateY(1px);

  .rn-arrow__fill {
    fill: f.color("neutral", "200");
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

.rn-date-picker.is-open {
  .rn-arrow {
    transform: rotate(180deg) translateY(1px);
  }

  .rn-arrow__fill {
    fill: f.color("action", "600");
  }
}

.rn-date-picker__container {
  pointer-events: none;
  opacity: 0;
  transition: linear opacity 0.3s;

  &.is-visible {
    pointer-events: all;
    opacity: 1;
  }
}

.DayPicker {
  display: inline-block;
}

.DayPicker-wrapper {
  position: relative;
  flex-direction: row;
  padding-bottom: f.spacing("8");
  outline: none;
  user-select: none;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  display: table;
  margin: 0 f.spacing("6");
  margin-top: f.spacing("8");
  border-spacing: 0;
  border-collapse: collapse;
  user-select: none;
}

.DayPicker-NavButton {
  position: absolute;
  top: 1rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: 1px solid f.color("neutral", "200");
  border-radius: 2px;
  color: f.color("neutral", "300");
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
  background-color: f.color("neutral", "white");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

.DayPicker-NavButton--prev {
  left: 1rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcons/Navigation/chevron-left%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='10.2755556 4.9422222 9.33333334 3.99999998 5.33333332 8 9.33333334 12 10.2755556 11.0577778 7.21777777 8'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Icons/Navigation/chevron-left' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Icons/Navigation/ic_chevron_left_18px' fill='%23233745' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/svg%3E");
}

.DayPicker-NavButton--next {
  right: 1rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcons/Navigation/chevron-right%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='6.66666666 3.99999998 5.72444443 4.9422222 8.78222223 8 5.72444443 11.0577778 6.66666666 12 10.6666667 8'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Icons/Navigation/chevron-right' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Icons/Navigation/ic_chevron_right_18px' fill='%23233745' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3C/g%3E%3C/svg%3E");
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  display: table-caption;
  margin-bottom: f.spacing("8");
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
}

.DayPicker-Caption > div {
  font-size: f.font-size("base");
  color: f.color("neutral", "400");
  font-weight: 600;
  white-space: nowrap;
}

.DayPicker-Weekdays {
  display: table-header-group;
  margin-top: f.spacing("8");
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  display: table-cell;
  padding: 0 f.spacing("2") f.spacing("4");
  text-align: center;
  text-transform: uppercase;
  font-size: f.font-size("s");
  color: f.color("neutral", "400");
  font-weight: 600;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table-row-group;
}

.DayPicker-Week {
  display: table-row;
}

.DayPicker-Day {
  display: table-cell;
  padding: f.spacing("4");
  border: 1px solid f.color("neutral", "100");
  font-size: f.font-size("s");
  font-weight: 600;
  color: f.color("neutral", "400");
  background-color: f.color("neutral", "white");
  text-align: center;
  cursor: pointer;
}

.DayPicker-Day--outside {
  border: none;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Day--today {
  color: f.color("action", "400");
  font-weight: 700;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;

  background-color: f.color("action", "100");
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: f.color("action", "100");
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: f.color("action", "500");
  color: f.color("neutral", "white");
}

.rn-date-picker__grid--range .DayPicker-Day {
  border-radius: 0;
}

.rn-date-picker__grid--range .DayPicker-Day--start,
.rn-date-picker__grid--range .DayPicker-Day--end {
  background-color: f.color("action", "500") !important;
  color: f.color("neutral", "white");
}

.rn-date-picker__grid--range .DayPicker-Day--start {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rn-date-picker__grid--range .DayPicker-Day--end {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.DayPicker-Day--disabled {
  color: f.color("neutral", "200");
  pointer-events: none;
}
