@use "../abstracts/functions" as f;
@use "../abstracts/mixins"as m;

.rn-dialog {
  .rn-modal__main {
    @include m.breakpoint("xs") {
      width: 100%;
      max-width: 480px;
    }
  }

  .rn-modal__footer {
    .rn-btn {
      display: block;
      width: 100%;

      &.rn-modal__primary-button {
        margin-left: 0;
      }

      &.rn-modal__tertiary-button {
        margin-top: f.spacing("4");
        @include m.breakpoint("xs") {
          margin-top: 0;
        }
      }

      @include m.breakpoint("xs") {
        width: auto;
      }

      .rn-btn__icon {
        transform: translateY(2px);
      }
    }
  }
}

.rn-dialog__body {
  padding: f.spacing("8");

  @include m.breakpoint("xs") {
    padding: f.spacing("11") f.spacing("12");
  }
}

.rn-dialog__title {
  display: block;
  font-size: f.font-size("xl");
  color: f.color("neutral", "700");
  margin-bottom: f.spacing("4");
  text-align: center;
  @include m.breakpoint("xs") {
    text-align: left;
  }
}

.rn-dialog__description {
  font-size: f.font-size("m");
  color: f.color("neutral", "400");
  @include m.breakpoint("s") {
    font-size: f.font-size("base");
  }
}
