.rn-inputBlock {
  @include font-size(s);
  display: inline-block;
  width: 100%;
  margin-bottom: spacing(4);

  .inputLabel {
    @include font-size(xs);
    @include cover;
    display: flex;
    align-items: center;
    pointer-events: none;
    transition: all 0.1s;
    color: color(neutral, 700);
    margin-bottom: spacing(2);
    width: 100%;
  }

  .textarea,
  .input {
    width: 100%;
    padding: spacing(3);
    border-radius: 3px;
    @include font-size(s);
    border: 1px solid color(neutral, 400);
    transition: all 0.2s;
    &:focus {
      border: 1px solid color(primary, 400);
      box-shadow: 0 0 0 1px color(primary, 400);    
    }
    &:focus,
    &.hasContent {
      outline: none;
    }
    &:invalid,
    &.hasError {
      border: 1px solid color(danger, 500);
    }

    &::-webkit-datetime-edit {
      color: transparent;
    }

    /* Include this to make it visible when input is clicked */
    &.hasContent::-webkit-datetime-edit,
    &:focus::-webkit-datetime-edit {
      color: color(neutral, 700);
    }
  }
}
