@import "../library";

.rn-links {
  display: flex;
  flex-direction: row;
  margin: spacing(3) 0;
  padding: 0;
  list-style: none;
}

.rn-links__item {
  display: inline-block;
  padding: 0 spacing(2);
  border-left: 2px solid;
}

.rn-links__item:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

.rn-links__link,
.rn-links a {
  text-decoration: none
}

.rn-links--regular .rn-links__item {
  font-size: font-size(s);
}

.rn-links--small .rn-links__item {
  font-size: font-size(xs);
}
