@use "../abstracts/functions" as f;

.rn-list {
  border: f.spacing("px") solid f.color("neutral", "100");
  border-radius: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rn-list__item {
  background-color: f.color("neutral", "white");
  margin-bottom: 0;

  &.is-inactive {
    background-color: f.color("neutral", "000");
  }

  &:not(:last-child) {
    box-shadow: inset 0px -1px 0px 0px f.color("neutral", "100");
  }
}

.rn-list__item-content {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: f.spacing("6");
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.rn-list__item-title {
  color: f.color("neutral", "600");
  font-size: f.font-size("m");
  margin-top: 0;
  margin-bottom: f.spacing("2");
}

.rn-list__item-description {
  color: f.color("neutral", "400");
  font-size: f.font-size("base");
  font-weight: 400;
}

.rn-list__item-action {
  align-items: center;
  background-color: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "200");
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
  color: f.color("neutral", "300");
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  margin-right: f.spacing("8");
  padding: 0;
  position: relative;
  top: f.spacing("4");
  width: 1.5rem;
}
