@use "../abstracts/functions" as f;

$masthead-main-height: 58px;

.rn-masthead {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: f.color("neutral", "white");
}

.rn-masthead__main {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid f.color("neutral", "100");
}

.rn-masthead__service-name {
  display: flex;
  height: $masthead-main-height;
  color: f.color("action", "900");
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  margin-left: f.spacing("10");
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(f.color("action", "700"), 0.5);
  }

  &.rn-masthead__service--has-logo .rn-masthead__title {
    margin-left: f.spacing("4");
  }
}

.rn-masthead__options {
  display: flex;
}

.rn-masthead__option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $masthead-main-height;
  width: $masthead-main-height;
  margin: 0;

  text-decoration: none;
  background-color: f.color("neutral", "white");
  border: none;
  cursor: pointer;
  transition: background-color 300ms;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(f.color("action", "700"), 0.5);
  }

  .rn-iconfill {
    fill: f.color("neutral", "400");
  }
}

.rn-masthead__vertical-separator {
  height: $masthead-main-height;
  width: 2px;

  > * {
    stroke: f.color("neutral", "100");
    stroke-width: 2px;
  }
}

.rn-masthead--show-search .rn-scrollable-nav__scroll-container,
.rn-masthead--show-notifications .rn-scrollable-nav__scroll-container {
  -webkit-overflow-scrolling: auto;
}

.rn-masthead__user-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rn-masthead__user-item-wrapper {
  a,
  a:hover {
    color: f.color("neutral", "white");
    text-decoration: none;
  }

  &:hover {
    .rn-masthead__user-item-icon,
    .rn-masthead__user-item-text {
      color: f.color("action", "500");
    }
  }
}

.rn-masthead__user-item {
  display: flex;
  align-items: center;
  margin: f.spacing("4");
}

.rn-masthead__user-item-icon {
  display: inline-flex;
}

.rn-masthead__user-item-text {
  margin-left: f.spacing("4");
}
