@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.rn-modal {
  @include m.z-index("modal");
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);

  &.is-closed {
    display: none;
  }

  &.is-open {
    display: block;
  }
}
.rn-modal__main {
  @include m.shadow("2");
  border: 1px solid f.color("neutral", "200");
  background: f.color("neutral", "white");
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px 8px 0 0;
  @include m.breakpoint("xs") {
    border-radius: 5px;
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    max-width: 700px;
  }
}

.rn-modal__header {
  display: flex;
  justify-content: space-between;
  padding: f.spacing("11");
  border-bottom: 1px solid f.color("neutral", "100");
}

.rn-modal__title {
  display: inline-block;
  font-size: f.font-size("l");
  color: f.color("neutral", "500");
  font-weight: 500;
}

.rn-modal__close-button {
  background: f.color("neutral", "000");
  border-radius: 1000px;
  border: 1px transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background: f.color("neutral", "100");
    outline: 0;
  }
}

.rn-modal .rn-modal__container {
  padding: f.spacing("8") f.spacing("8");
}

.rn-modal__footer {
  background-color: f.color("neutral", "white");
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: f.spacing("8");
  flex-direction: column-reverse;
  border-top: 1px solid f.color("neutral", "100");
  @include m.breakpoint("xs") {
    flex-direction: row;
  }
}

.rn-modal__footer--has-tertiary {
  justify-content: space-between;
}

.rn-modal__btn-group {
  display: flex;
  flex-direction: column-reverse;
  @include m.breakpoint("xs") {
    flex-direction: row;
  }

  .rn-btn + .rn-btn {
    margin-bottom: f.spacing("4");
  }
}

.rn-modal .rn-modal__secondary-button {
  @include m.breakpoint("xs") {
    margin-bottom: 0;
    margin-left: auto;
  }
}

.rn-modal .rn-modal__primary-button {
  @include m.breakpoint("xs") {
    margin-bottom: 0;
    margin-left: f.spacing("4");
  }
}

.rn-modal__divider {
  border: 0;
  border-bottom: 1px solid f.color("neutral", "100");
  margin: 0;
}
