.rn-modal {
  @include z-index(modal);
  background: rgba(0, 0, 0, 0.5);
}

.rn-modal__main {
  @include shadow(2);
  border: 1px solid color(neutral, 200);
  border-radius: 5px;
  min-width: 600px;
  max-width: 700px;
  background: color(neutral, white);

  top: calc(50% - 200px);
  left: calc(50% - 300px);
  position: fixed;
}

.rn-modal__header {
  display: flex;
  justify-content: space-between;
  padding: spacing(4);
  border-bottom: 1px solid color(neutral, 100);
}

.rn-modal__title {
  display: inline-block;
  font-size: font-size(m);
  color: color(neutral, 600);
}

.rn-modal__close-button {
  background: color(neutral, 000);
  border-radius: 50%;
  border: 1px transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background: color(neutral, 100);
    outline: 0;
  }
}

.rn-modal .rn-modal__container {
  padding: spacing(4) spacing(4);
}

.rn-modal__footer {
  display: flex;
  padding: spacing(4);
  border-top: 1px solid color(neutral, 100);
}

.rn-modal .rn-btn.rn-modal__primary-button,
.rn-modal .rn-btn.rn-modal__secondary-button,
.rn-modal .rn-btn.rn-modal__tertiary-button {
  margin: 0;
}

.rn-modal .rn-btn.rn-modal__secondary-button {
  margin-left: auto;
}

.rn-modal .rn-btn.rn-modal__primary-button {
  margin-left: spacing(2);
}

.rn-modal__divider {
  border: 0;
  border-bottom: 1px solid color(neutral, 100);
  margin: 0;
}
