@use "../config";
@use "../abstracts/functions" as f;


.rn-pagination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.rn-pagination__item {
  padding: f.spacing("2");
  display: inline-block;

  &:first-of-type,
  &:last-of-type {
    .rn-pagination__button {
      display: flex;
      align-items: center;
      padding: f.spacing("4") f.spacing("5");
      background-color: transparent;
      border: 1px solid f.color("neutral", "200");

      &:hover:not([disabled]) {
        color: f.color("neutral", "500");
        background-color: f.color("neutral", "100");
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.rn-pagination__button {
  cursor: pointer;
  padding: f.spacing("2") f.spacing("4");
  background: none;
  font-weight: 500;
  font-size: f.font-size("base");
  color: f.color("neutral", "400");
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  transition: all config.$animation-timing;


  &:hover {
    background-color: f.color("neutral", "100");
    color: f.color("neutral", "500");
  }

  &.is-active {
    background-color: f.color("neutral", "400");
    color: f.color("neutral", "white");
  }
}
