.rn-phase-banner {
  background-color: color(primary, 100);
  padding-top: spacing(3);
  padding-bottom: spacing(3);
  @include breakpoint("s") {
    padding-top: spacing(2);
    padding-bottom: spacing(2);
  } 
}

.rn-phase-banner__text {
  display: block;
  color: color(primary, 900);
  line-height: 1.4;
  font-size: font-size(xs);
  @include breakpoint("s") {
    display: inline-block;
  }
}

.rn-phase-banner__text a {
  font-weight: 600;
  color: color(primary, 900);
}

.rn-phase-banner .rn-badge {
  margin: 0;
  text-transform: capitalize;
  margin-bottom: spacing(1);
  @include breakpoint("s") {
    margin-right: spacing(1);
    margin-bottom: 0;
  }
}
