.rn-phase-banner {
  background-color: color(primary, 100);
}

.rn-phase-banner__container {
  padding-top: spacing(2);
  padding-bottom: spacing(2);
}

.rn-phase-banner__text {
  display: inline-block;
  font-size: font-size(xs);
  vertical-align: text-bottom
}

.rn-phase-banner__text a {
  color: color(neutral, black);
}

.rn-phase-banner .rn-badge {
  margin: 0;
  text-transform: capitalize;
  margin-right: spacing(1);
}
