.rn-phase-banner {
  background-color: color("action", "100");
  padding-top: spacing("4");
  padding-bottom: spacing("4");
}

.rn-phase-banner__text {
  display: inline-block;
  font-size: font-size("s");
  vertical-align: middle;
  margin-left: spacing("4");
  color: color("neutral", "800");
}

.rn-phase-banner__text a {
  color: color("neutral", "black");
  text-decoration: underline;
}

.rn-phase-banner .rn-badge {
  margin: 0;
  text-transform: capitalize;
  margin-right: spacing("2");
}
