$popover-light-background: color(neutral, white);
$popover-light-border: color(neutral, 100);
$popover-dark-background: color(neutral, 700);
$popover-dark-border: color(neutral, 700);
$popover-border-thickness: 1px;
$popover-inner: 5px;
$popover-outer: $popover-inner;
$popover-offset: $popover-outer + $popover-border-thickness;

.rn-popover {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: linear opacity 0.3s;

  &.is-visible {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}

.rn-popover .rn-floating-box__content {
  @include z-index(modal);
  position: absolute;
  top: 0;
  left: 0;
  background: color(neutral, white);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
}

.rn-popover .rn-popover__footer {
  padding: spacing(3);
  margin: 0;
  border-top: 1px solid color(neutral, 100);
  background-color: color(neutral, 000);
  text-align: right;
}

.rn-popover a.rn-popover__footer-link {
  text-decoration: none;
  color: color(neutral, 300);
  font-size: font-size(xs);
  cursor: pointer;
}


@include breakpoint("s") {
  .rn-popover {
    position: absolute;
  }

  .rn-popover .rn-floating-box__content {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    padding: 0;
    border-radius: 3px;
  }

  .rn-popover--light .rn-floating-box__content {
    background: $popover-light-background;
    border: $popover-light-border solid $popover-border-thickness;
  }

  .rn-popover--dark .rn-floating-box__content {
    background: $popover-dark-background;
    border: $popover-dark-border solid $popover-border-thickness;
    color: color(neutral, white);
  }

  .rn-popover .rn-floating-box__content:before {
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    z-index: 0;
  }

  .rn-popover .rn-floating-box__content:after {
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    z-index: 1;
  }

  .rn-popover--top_left .rn-floating-box__content:before,
  .rn-popover--top_right .rn-floating-box__content:before {
    border-width: 0 $popover-outer $popover-outer;
    margin-left: -$popover-outer;
    top: -$popover-offset;
  }
  .rn-popover--top_left.rn-popover--light .rn-floating-box__content:before,
  .rn-popover--top_right.rn-popover--light .rn-floating-box__content:before {
    border-color: $popover-light-border transparent;
  }
  .rn-popover--top_left.rn-popover--dark .rn-floating-box__content:before,
  .rn-popover--top_right.rn-popover--dark .rn-floating-box__content:before {
    border-color: $popover-dark-border transparent;
  }
  .rn-popover--top_left .rn-floating-box__content:after,
  .rn-popover--top_right .rn-floating-box__content:after {
    border-width: 0 $popover-inner $popover-inner;
    margin-left: -$popover-inner;
    top: -$popover-inner;
  }
  .rn-popover--top_left.rn-popover--light .rn-floating-box__content:after,
  .rn-popover--top_right.rn-popover--light .rn-floating-box__content:after {
    border-color: $popover-light-background transparent;
  }
  .rn-popover--top_left.rn-popover--dark .rn-floating-box__content:after,
  .rn-popover--top_right.rn-popover--dark .rn-floating-box__content:after {
    border-color: $popover-dark-background transparent;
  }


  .rn-popover--right_top .rn-floating-box__content:before,
  .rn-popover--right_bottom .rn-floating-box__content:before {
    border-width: $popover-outer 0 $popover-outer $popover-outer;
    right: -$popover-offset;
    margin-top: -$popover-outer;
  }
  .rn-popover--right_top.rn-popover--light .rn-floating-box__content:before,
  .rn-popover--right_bottom.rn-popover--light .rn-floating-box__content:before {
    border-color: transparent $popover-light-border;
  }
  .rn-popover--right_top.rn-popover--dark .rn-floating-box__content:before,
  .rn-popover--right_bottom.rn-popover--dark .rn-floating-box__content:before {
    border-color: transparent $popover-dark-border;
  }
  .rn-popover--right_top .rn-floating-box__content:after,
  .rn-popover--right_bottom .rn-floating-box__content:after {
    border-width: $popover-inner 0 $popover-inner $popover-inner;
    right: -$popover-inner;
    margin-top: -$popover-inner;

  }
  .rn-popover--right_top.rn-popover--light .rn-floating-box__content:after,
  .rn-popover--right_bottom.rn-popover--light .rn-floating-box__content:after {
    border-color: transparent $popover-light-background;
  }
  .rn-popover--right_top.rn-popover--dark .rn-floating-box__content:after,
  .rn-popover--right_bottom.rn-popover--dark .rn-floating-box__content:after {
    border-color: transparent $popover-dark-background;
  }


  .rn-popover--bottom_right .rn-floating-box__content:before,
  .rn-popover--bottom_left .rn-floating-box__content:before {
    border-width: $popover-inner $popover-inner 0;
    bottom: -$popover-inner - $popover-border-thickness;
    margin-left: -$popover-outer;
  }
  .rn-popover--bottom_right.rn-popover--light .rn-floating-box__content:before,
  .rn-popover--bottom_left.rn-popover--light .rn-floating-box__content:before {
    border-color: $popover-light-border transparent;
  }
  .rn-popover--bottom_right.rn-popover--dark .rn-floating-box__content:before,
  .rn-popover--bottom_left.rn-popover--dark .rn-floating-box__content:before {
    border-color: $popover-dark-border transparent;
  }
  .rn-popover--bottom_right .rn-floating-box__content:after,
  .rn-popover--bottom_left .rn-floating-box__content:after {
    border-width: $popover-inner $popover-inner 0;
    bottom: -$popover-inner;
    margin-left: -$popover-outer;
  }
  .rn-popover--bottom_right.rn-popover--light .rn-floating-box__content:after,
  .rn-popover--bottom_left.rn-popover--light .rn-floating-box__content:after {
    border-color: $popover-light-background transparent;
  }
  .rn-popover--bottom_right.rn-popover--dark .rn-floating-box__content:after,
  .rn-popover--bottom_left.rn-popover--dark .rn-floating-box__content:after {
    border-color: $popover-dark-background transparent;
  }


  .rn-popover--left_bottom .rn-floating-box__content:before,
  .rn-popover--left_top .rn-floating-box__content:before {
    border-width: $popover-outer $popover-outer $popover-outer 0;
    left: -$popover-offset;
    margin-top: -$popover-outer;
  }
  .rn-popover--left_bottom.rn-popover--light .rn-floating-box__content:before,
  .rn-popover--left_top.rn-popover--light .rn-floating-box__content:before {
    border-color: transparent $popover-light-border;
  }
  .rn-popover--left_bottom.rn-popover--dark .rn-floating-box__content:before,
  .rn-popover--left_top.rn-popover--dark .rn-floating-box__content:before {
    border-color: transparent $popover-dark-border;
  }
  .rn-popover--left_bottom .rn-floating-box__content:after,
  .rn-popover--left_top .rn-floating-box__content:after {
    border-width: $popover-inner $popover-inner $popover-inner 0;
    left: -$popover-inner;
    margin-top: -$popover-inner;
  }
  .rn-popover--left_bottom.rn-popover--light .rn-floating-box__content:after,
  .rn-popover--left_top.rn-popover--light .rn-floating-box__content:after {
    border-color: transparent $popover-light-background;
  }
  .rn-popover--left_bottom.rn-popover--dark .rn-floating-box__content:after,
  .rn-popover--left_top.rn-popover--dark .rn-floating-box__content:after {
    border-color: transparent $popover-dark-background;
  }


  .rn-popover--left_bottom .rn-floating-box__content:before,
  .rn-popover--left_bottom .rn-floating-box__content:after,
  .rn-popover--right_bottom .rn-floating-box__content:before,
  .rn-popover--right_bottom .rn-floating-box__content:after {
    top: unset;
    bottom: 1rem;
  }

  .rn-popover--left_top .rn-floating-box__content:before,
  .rn-popover--left_top .rn-floating-box__content:after,
  .rn-popover--right_top .rn-floating-box__content:before,
  .rn-popover--right_top .rn-floating-box__content:after {
    top: 1rem;
  }
  .rn-popover--top_left .rn-floating-box__content:before,
  .rn-popover--top_left .rn-floating-box__content:after,
  .rn-popover--bottom_left .rn-floating-box__content:before,
  .rn-popover--bottom_left .rn-floating-box__content:after {
    left: 1rem;
  }
  .rn-popover--top_right .rn-floating-box__content:before,
  .rn-popover--top_right .rn-floating-box__content:after,
  .rn-popover--bottom_right .rn-floating-box__content:before,
  .rn-popover--bottom_right .rn-floating-box__content:after {
    left: unset;
    right: 1rem;
  }
}
