@use "sass:map";
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

$progress-states: (
  neutral: f.color("neutral", "700"),
  action: f.color("action", "400"),
  danger:  f.color("danger", "400"),
  warning: f.color("warning", "400"),
  success: f.color("success", "500")
);

.rn-progress {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 8px;

  &.small {
    height: 4px;
  }

  &.large {
    height: 16px;
  }

  @each $state, $value in $progress-states {
    &.#{$state} {
      .rn-progress__bar {
        background: $value;
      }
    }
  }

  &__bar {
    background-color: map.get($progress-states, "neutral");
    // Border radius far exceeds height of container to ensure
    // borders are rounded correctly
    border-radius: 100px;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    text-align: center;
    color: f.color("neutral", "white");
    @include m.font-size("xs");
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
