@use "../abstracts/functions" as f;

.rn-progress-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;

  span {
    display: block;
    margin-top: f.spacing("4");
    font-size: f.font-size("s");
    font-weight: 700;
  }
}
