@use "../abstracts/functions" as f;

$animation-timing: 0.2s;
$radio-focus-width: 0.1rem;

.rn-radio {
  display: block;
  position: relative;
  padding-left: f.spacing("11");
  cursor: pointer;
  font-size: f.font-size("base");
  user-select: none;
  .rn-form & {
    padding-top: f.spacing("6");
    padding-bottom: f.spacing("6");
  }
}

.rn-radio__outer-wrapper {
  display: inline-flex;
  flex-direction: row;
}

.rn-radio__label {
  color: f.color("neutral", "400");
  padding: f.spacing("1") 0;
}

.rn-radio .rn-radio__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rn-radio__checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background-color: f.color("neutral", "white");
  border-radius: 999px;
  border: 1px solid f.color("neutral", "200");
}

/* Active state, light blue outline */
.rn-radio input:hover ~ .rn-radio__checkmark,
.rn-radio input:active ~ .rn-radio__checkmark {
  border: 1px solid f.color("action", "500");
  outline: none;
  box-shadow: 0 0 0 $radio-focus-width f.color("action", "500");
  transition: all $animation-timing;
}

/* Checked state, blue border */
.rn-radio input:checked ~ .rn-radio__checkmark {
  background-color: f.color("neutral", "white");
  border: 1px solid f.color("action", "500");
  box-shadow: 0 0 0 $radio-focus-width f.color("action", "500");
}

.rn-radio__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rn-radio input:checked ~ .rn-radio__checkmark:after {
  display: block;
}

/* Checkmark, blue dot */
.rn-radio .rn-radio__checkmark:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  background: f.color("action", "600");
  border: 3px solid f.color("neutral", "white");
}

.rn-radio__invalid-feedback {
  color: f.color("danger", "600");
  margin: f.spacing("4") f.spacing("6");
  font-size: f.font-size("base");
}
