@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

$range-slider-bg-colour: f.color("neutral", "100");
$range-slider-track-colour: f.color("action", "500");
$range-slider-handle-colour: f.color("action", "500");
$range-slider-track-below-first-threshold: f.color("danger", "500");
$range-slider-track-between-thresholds: f.color("warning", "500");
$range-slider-above-thresholds: f.color("action", "500");

.rn-rangeslider {
  display: inline-flex;
  align-items: center;
  width: 100%;

  > div {
    position: relative;
    width: 100%;
    height: 38px;
  }

  &.is-disabled {
    opacity: 0.5;

    .rn-rangeslider__rail-outer,
    .rn-rangeslider__track {
      cursor: not-allowed;
    }
  }
}

.rn-rangeslider__icon {
  color: f.color("neutral", "400");
  overflow: visible;
}

.rn-rangeslider__icon--left {
  margin-right: f.spacing("2");
}

.rn-rangeslider__icon--right {
  margin-left: f.spacing("2");
}

.rn-rangeslider__rail {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  top: 0.3rem;
}

.rn-rangeslider__rail-outer {
  position: absolute;
  width: 100%;
  height: 40px;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.rn-rangeslider__rail-inner {
  position: absolute;
  width: 100%;
  height: 2px;
  transform: translate(0%, -50%);
  background-color: $range-slider-bg-colour;
  pointer-events: none;
}

.rn-rangeslider__handle {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 14px;
  height: 14px;
  margin-left: 1px;
  border: none;
  border-radius: 9999px;
  background-color: $range-slider-handle-colour;
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgba(f.color("neutral", "200"), 0.5);
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;

  &::after {
    content: attr(data-value);
    position: absolute;
    transform: translate(-50%, -155%);
    font-size: f.font-size("xs");
    color: f.color("neutral", "600");
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    padding: f.spacing("2") f.spacing("3");
    border-radius: 12px;
    font-weight: 600;
  }

  &::before {
    content: attr(data-percent);
    position: absolute;
    transform: translate(-50%, -355%);
    font-size: f.font-size("s");
    color: f.color("neutral", "300");
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    font-weight: 700;
  }

  &:nth-of-type(2n) {
    &::after {
      transform: translate(-50%, 125%);
    }

    &::before {
      transform: translate(-50%, 355%);
    }
  }

  &.is-active, &:focus {
    box-shadow: 0px 0px 0px 7px rgba(f.color("neutral", "200"), 0.5);
    outline: none;

    &::after, &::before {
      opacity: 1;
    }
  }
}

.rn-rangeslider__track {
  position: absolute;
  transform: translate(0%, -50%);
  height: 2px;
  z-index: 1;
  background-color: $range-slider-track-colour;
  cursor: pointer;
}

.rn-rangeslider__ticks {
  div:first-of-type,
  div:last-of-type {
    .rn-rangeslider__tick {
      height: 16px;
    }
  }
}

.rn-rangeslider__tick {
  position: absolute;
  width: 2px;
  height: 12px;
  transform: translateY(-50%);
  background-color: $range-slider-above-thresholds;

  &:not(.is-active) {
    background-color: $range-slider-bg-colour;
  }
}

.rn-rangeslider__label {
  position: absolute;
  margin-top: 22px;
  font-size: f.font-size("xs");
  color: f.color("neutral", "400");
  text-align: center;
}

.rn-rangeslider__tick--below-first-threshold,
.rn-rangeslider__track--below-first-threshold,
.rn-rangeslider__handle--below-first-threshold {
  background-color: $range-slider-track-below-first-threshold;

  &::after {
    color: $range-slider-track-below-first-threshold;
    background-color: rgba($range-slider-track-below-first-threshold, .25);
  }
}

.rn-rangeslider__tick--between-thresholds,
.rn-rangeslider__track--between-thresholds,
.rn-rangeslider__handle--between-thresholds {
  background-color: $range-slider-track-between-thresholds;

  &::after {
    color: $range-slider-track-between-thresholds;
    background-color: rgba($range-slider-track-between-thresholds, .25);
  }
}

.rn-rangeslider__tick--above-thresholds,
.rn-rangeslider__track--above-thresholds,
.rn-rangeslider__handle--above-thresholds {
  background-color: $range-slider-above-thresholds;

  &::after {
    color: $range-slider-above-thresholds;
    background-color: rgba($range-slider-above-thresholds, .25);
  }
}

.rn-rangeslider:not(.has-percentage) {
  .rn-rangeslider__handle::before {
    display: none;
  }
}
