@use "../abstracts/functions" as f;

.rn-select {
  position: relative;

  .rn-select__control {
    padding-top: f.spacing("px");
    padding-bottom: f.spacing("px");
    border: 1px solid f.color("neutral", "200");
  }

  .rn-select__control--is-focused,
  .rn-select__control:hover {
    border-color: f.color("action", "600");
    box-shadow: 0 0 0 1px f.color("action", "600"), 0 0 0 4px f.color("action", "100");
    &.rn-select__control--menu-is-open {
      border-bottom-color: transparent;
    }
  }

  .rn-select__value-container {
    padding: 0;
  }


  .rn-select__control--menu-is-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
  }

  .rn-select__dropdown-indicator {
    padding-left: (40px - 11px)/2;
    padding-right: (40px - 11px)/2;
  }

  .rn-select__indicator-separator {
    background-color: f.color("neutral", "100");
  }

  .rn-select__menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 1px f.color("action", "600"),
      -2px 2px 0 2px f.color("action", "100"),
      2px 2px 0 2px f.color("action", "100");
    border: 1px solid f.color("action", "600");
    border-top: 0;
    background:f.color("neutral", "white");
    &::after {
      position: absolute;
      top: -1px;
      right: 0;
      left: 0;
      height: 1px;
      background: f.color("neutral", "white");
      content: "";
    }
  }

  .rn-select__menu-list {
    padding-left: f.spacing("2");
    padding-right: f.spacing("2");
  }

  .rn-select__option {
    border-radius: 2px;
    color: f.color("neutral", "500");
    display: flex;
    align-items: center;
    padding-top: f.spacing("4");
    padding-bottom: f.spacing("4");
    padding-left: f.spacing("4");
    font-size: f.font-size("base");
    font-weight: 500;
    margin-top: f.spacing("2");
    .rn-badge {
      transform: translateY(1px);
    }
  }

  .rn-select__option--is-focused {
    background-color: f.color("neutral", "100");
    color: f.color("neutral", "500");
  }

  .rn-select__option--is-selected {
    background-color: f.color("action", "600");
    color: f.color("neutral", "white");
  }

  .rn-select__input-container {
    position: relative;
  }

  .rn-select__input-container > * {
    padding: 0;
    margin: 0;
  }

  .rn-select__input,
  .rn-select__single-value {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: f.spacing("10") f.spacing("6") f.spacing("2");
    border: 0;
    background: none;
    -webkit-tap-highlight-color: transparent;
    font-size: f.font-size("base");
  }

  .rn-select__single-value {
    padding-right: 50px;
    overflow: visible;
    padding-bottom: f.spacing("2");
  }


  .rn-select__single-value .rn-select__badge {
    display: inline-block;
    transform: translateY(-1px);
  }

  .rn-select__label {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: translate(f.spacing("6"), f.spacing("6")) scale(1);
    transition:
      color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
    color: f.color("neutral", "300");
    font-size: f.font-size("base");
    white-space: nowrap;
  }


  .rn-select__control--is-focused .rn-select__label,
  .rn-select__value-container--has-value .rn-select__label {
    transform: translate(f.spacing("6"), 5px) scale(0.8);
  }

  .rn-arrow__fill {
    fill: f.color("neutral", "200");
  }

  .rn-arrow {
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: translateY(1px);

    .rn-arrow__fill {
      transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }

  .rn-select__control--menu-is-open {
    .rn-arrow {
      transform: rotate(180deg) translateY(1px);
    }

    .rn-arrow__fill {
      fill: f.color("action", "600");
    }
  }
}
