@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.rn-sidenav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: f.color("neutral", "900");
  min-width: 200px;

  &__header {
    background-color: f.color("neutral", "black");
    padding: f.spacing("8") 0;
  }

  &__nav {
    padding: f.spacing("8") 0;
  }

  &__link {
    display: block;
    @include m.font-size("base");
    font-weight: 400;
    padding: f.spacing("4") f.spacing("10");
    color: f.color("neutral", "200");
    text-decoration: none;
  }
}
