@use "../abstracts/functions" as f;

$switch-border-radius: 2px;
$switch-background-color: f.color("neutral", "000");
$switch-border-color: f.color("neutral", "200");
$switch-active-background-color: f.color("neutral", "400");
$switch-active-color: f.color("action", "600");

.rn-switch {
  border: none;
  padding: 0;
  margin: 0;
  font-size: f.font-size("base");
  position: relative;
}

.rn-switch--small {
  font-size: f.font-size("s");

  .rn-switch__option::before {
    padding: f.spacing("8") f.spacing("11");
  }
}

.rn-switch--large {
  font-size: f.font-size("m");
  .rn-switch__option {
    padding: f.spacing("6") f.spacing("8");
  }
}

.rn-switch__legend {
  font-size: inherit;
  color: f.color("neutral", "400");
  margin-bottom: f.spacing("4");
}

.rn-switch__container {
  display: inline-flex;
  padding: f.spacing("2");
  border: 1px solid $switch-border-color;
  background-color: $switch-background-color;
  border-radius: 4px;
}

// Handle active state border overlap
// NOTE: A Switch with more than 5 children probably shouldn't be a Switch


.rn-switch__option {
  cursor: pointer;

  .rn-switch__radio {
    display: none;
  }

  border-radius: 3px;
  display: inline-block;
  width: auto;
  height: auto;
  line-height: 1;
  padding: f.spacing("5") f.spacing("8");
  font-size: inherit;
  color: f.color("neutral", "400");
  position: relative;
  z-index: 0;
  transition: all 0.3s;

  &.is-active {
    background-color: f.color("neutral", "400");
    color: f.color("neutral", "white");
  }

  &:hover {
    color: f.color("neutral", "white");
    background-color: f.color("neutral", "400");
  }
}
