@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.rn-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  th {
    font-weight: bold;
    text-align: left;
    @include m.font-size("s");
    text-transform: uppercase;
    padding: f.spacing("8") f.spacing("4");

    &.is-sortable {
      cursor: pointer;
    }

    & svg {
      position: relative;
      left: f.spacing("2");
      top: 2px;
      width: f.spacing("6");
      height: f.spacing("6");
    }
  }
  thead {
    border-bottom: 2px solid f.color("neutral", "100");
  }
  tr {
    border-bottom: 1px solid f.color("neutral", "100");
    &:last-child {
      border-bottom: none;
    }
  }
  td {
    @include m.font-size("s");
    padding: f.spacing("4") f.spacing("4");
    color: f.color("neutral", "500");
  }

  &__arrow {
    margin-left: f.spacing("3");
    &--down {
      transform: rotate(180deg);
      margin-left: -3px;
    }
    opacity: 0.4;
  }

  .sorted {
    &.sort-asc .rn-table__arrow--down {
      opacity: 1;
    }
    &.sort-desc .rn-table__arrow--up {
      opacity: 1;
    }
  }
}

.rn-table__wrapper {
  overflow: scroll;
  overflow-y: hidden;
}
