@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

$active-border-color: f.color("action", "600");

.rn-tab-set {
  display: flex;
  flex-flow: column;
  background-color: f.color("neutral", "white");

  &.is-scrollable {
    .rn-tab-set__navigation {
      flex: 1;
      white-space: nowrap;
      overflow-x: hidden;
    }

    .rn-tab-set__head {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      border-bottom: none;
      position: relative;
      z-index: 1;
      margin-bottom: -1px;
    }

    .rn-tab-set__tab-item {
      width: 100%;
      padding-left: f.spacing("2");
    }

    .rn-tab-set__tab-item:last-child {
      padding-right: f.spacing("2");
    }


    .rn-tab-set__body {
      border-top: 1px solid f.color("neutral", "200");
    }

    .rn-tab-set__tab {
      width: 100%;
      padding: f.spacing("5") f.spacing("10");
      border-radius: 4px 4px 0 0;
      background-color: f.color("neutral", "000");
      border: 1px solid f.color("neutral", "100");
      border-bottom: none;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 0;

      &.is-active {
        background-color: f.color("neutral", "white");
        color: f.color("neutral", "000");
        border: 1px solid f.color("neutral", "200");
        border-bottom: 1px solid f.color("neutral", "white");
      }
    }
  }
}

.rn-tab-set__head {
  border-bottom: 1px solid f.color("neutral", "100");
}

.rn-tab-set__scroll {
  padding: f.spacing("6") f.spacing("2");
  background: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "100");
  border-radius: 3px;
  color: f.color("neutral", "300");
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-self: flex-start;
}

.rn-tab-set__scroll--left {
  margin-right: f.spacing("2");
}

.rn-tab-set__scroll--right {
  margin-left: f.spacing("2");
}

.rn-tab-set__tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rn-tab-set__tab-item {
  display: inline-block;
}

.rn-tab-set__tab {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: f.font-size("base");
  font-weight: 600;
  color: f.color("neutral", "300");

  // default
  border: none;
  border-bottom: 4px solid transparent;
  padding: f.spacing("10") f.spacing("6") f.spacing("9") f.spacing("6");

  & > div {
    margin: 0 auto;
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    color: f.color("neutral", "500");
    border-color: $active-border-color;
  }
}

.rn-tab-set__body {
  padding: f.spacing("12") 0;
}

.rn-tab-set__content {
  display: none;

  // Fix to ensure the first level SVGs in a content document
  // have appropriate padding underneath their headings.
  > svg {
    width: 100%;
    margin-top: f.spacing("8");

    + ul, + ol {
      margin-left: 16px;
      padding-left: 0;
    }
  }

  &.is-active {
    display: block;
  }
}

@include m.breakpoint("m") {
  .rn-tab-set {
    &.is-scrollable {
      .rn-tab-set__tab-item {
        width: auto;
      }

      .rn-tab-set__tab {
        width: auto;
      }
    }
  }
}
