@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

$active-border-color: f.color("action", "600");

.rn-tab-set {
  display: flex;
  flex-flow: column;

  &.is-scrollable {
    .rn-tab-set__navigation {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
    }

    .rn-tab-set__head {
      display: flex;
      flex-direction: row;
      padding-bottom: f.spacing("4");
    }

    .rn-tab-set__tab-item {
      width: 100%;
      padding-left: f.spacing("2");
    }

    .rn-tab-set__tab-item:last-child {
      padding-right: f.spacing("2");
    }

    .rn-tab-set__tab {
      width: 100%;
      border: none;
      height: f.spacing("13");
      padding: unset;
      border-radius: 6px;
      background-color: f.color("neutral", "100");

      &.is-active {
        background-color: f.color("action", "300");
        color: f.color("neutral", "000")
      }
    }
  }
}

.rn-tab-set__head {
  border-bottom: 1px solid f.color("neutral", "100");
}

.rn-tab-set__scroll {
  width: f.spacing("11");
  height: f.spacing("14");
  background: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "100");
  border-radius: 3px;
  color: f.color("neutral", "300");
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: unset;
}

.rn-tab-set__scroll--left {
  margin-right: f.spacing("2");
}

.rn-tab-set__scroll--right {
  margin-left: f.spacing("2");
}

.rn-tab-set__tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rn-tab-set__tab-item {
  display: inline-block;
  margin-top: f.spacing("2");
}

.rn-tab-set__tab {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: f.font-size("base");
  font-weight: 600;
  color: f.color("neutral", "300");

  // default
  border: none;
  border-bottom: 4px solid transparent;
  padding: f.spacing("8") f.spacing("12");

  & > div {
    margin: 0 auto;
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    color: color("neutral", "400");
    border-color: $active-border-color;
  }
}

.rn-tab-set__body {
  padding: f.spacing("12") 0;
}

.rn-tab-set__content {
  display: none;

  /**
   * Fix to ensure the first level SVGs in a content document
   * have appropriate padding underneath their headings.
   */
  > svg {
    width: 100%;
    margin-top: f.spacing("8");

    + ul, + ol {
      margin-left: 16px;
      padding-left: 0;
    }
  }

  &.is-active {
    display: block;
  }
}

@include m.breakpoint("m") {
  .rn-tab-set {
    &.is-scrollable {
      .rn-tab-set__tab-item {
        width: auto;
      }

      .rn-tab-set__tab {
        width: auto;
        padding: 0 f.spacing("12");
      }
    }
  }
}
