@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

$active-border-color: f.color("action", "600");
$btn-focus-width: 0.2rem;

.rn-tab-nav {
  padding-left: f.spacing("6");
  padding-right: f.spacing("6");
  background: f.color("neutral", "white");
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid f.color("neutral", "100")
}

.rn-tab-nav__tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rn-tab-nav__item {
  color: f.color("neutral", "400");
  margin-bottom: 0;
  text-align: center;
  line-height: 1;

  &.is-active {
    > a {
      color: f.color("neutral", "500");
      border-color: $active-border-color;
    }
  }

  > a {
    border-bottom: 4px solid transparent;
    display: block;
    margin: 0 f.spacing("1");
    padding: f.spacing("9") f.spacing("12") f.spacing("9");
    font-size: f.font-size("base");
    font-weight: 600;
    color: inherit;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba(f.color("action", "700") , 0.5);
    }
  }
}

@include m.breakpoint("m") {
  .rn-tab-nav {
    display: flex;
    flex-flow: column;
  }

  .rn-tab-nav__item {
    display: inline-block;

    > a {
      display: inline-block;
    }
  }
}
