.rn-table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  th {
    font-weight: bold;
    text-align: left;
    @include font-size(s);
    padding: spacing(8) spacing(4);
  }
  thead {
    border-bottom: 2px solid color(neutral, 100);
  }
  tr {
    border-bottom: 1px solid color(neutral, 100);
    &:last-child {
      border-bottom: none;
    }
  }
  td {
    @include font-size(s);
    padding: spacing(6) spacing(3);
    color: color(neutral, 600);
  }

  &__arrow {
    margin-left: spacing(3);
    &--down {
      transform: rotate(180deg);
      margin-left: -3px;
    }
    opacity: 0.4;
  }

  .sorted {
    &.sort-asc .rn-table__arrow--down {
      opacity: 1;
    }
    &.sort-desc .rn-table__arrow--up {
      opacity: 1;
    }
  }

  &.sortable {
    th {
      cursor: pointer;
    }
  }
}
