@use "../abstracts/functions" as f;

.rn-textarea {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  border: 0;
  vertical-align: top;
  width: 100%;
}

.rn-textarea__wrapper {
  background-color: f.color("neutral", "white");
  border: 1px solid f.color("neutral", "200");
  border-radius: 4px;
  transition:
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: relative;
}

.rn-textarea.has-focus .rn-textarea__wrapper {
  box-shadow: 0 0 0 1px f.color("action", "600");
  border: 1px solid f.color("action", "600");
  background: f.color("neutral", "white");
}

.rn-textarea.is-invalid .rn-textarea__wrapper {
  border-color: f.color("danger", "700");
  box-shadow: 0 0 0 1px f.color("danger", "700");
}

.rn-textarea.is-valid .rn-textarea__wrapper {
  border-color: f.color("success", "700");
  box-shadow: 0 0 0 1px f.color("success", "700");
}

.rn-textarea__label {
  display: block;
  position: absolute;
  padding-left: f.spacing("6");
  padding-bottom: f.spacing("2");
  right: 14px;
  left: 0;
  pointer-events: none;
  color: f.color("neutral", "400");
  font-size: f.font-size("s");
  background-color: white;
  border-radius: 3px 3px 0 0;
}

.rn-textarea__label-inner {
  display: inline-block;
  transform-origin: top left;
  transform: translate(0, f.spacing("2")) scale(1.2);
  transition:
    color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.rn-textarea.has-focus .rn-textarea__label-inner,
.rn-textarea.has-content .rn-textarea__label-inner {
  transform: none;
}

.rn-textarea__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: f.spacing("10") f.spacing("6") f.spacing("2");
  border: 0;
  background: none;
  font-size: f.font-size("base");
  resize: vertical;
  overflow: auto;
  min-height: 80px;
  -webkit-tap-highlight-color: transparent;
}

.rn-textarea--no-label .rn-textarea__input {
  padding: f.spacing("6");
}

.rn-textarea__input:focus {
  outline: 0;
}
