.rn-textinput {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin: spacing(3) 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  width: 100%;
}

.rn-textinput__outer-wrapper {
  display: inline-flex;
  flex-direction: row;

  background-color: color(neutral, 000);
  border: 1px solid color(neutral, 100);
  border-radius: 4px;
  transition:
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.rn-textinput--has-focus .rn-textinput__outer-wrapper {
  box-shadow: 0 0 0 0.2rem rgba(color(primary, 700) , 0.5);
  background: color(neutral, white);
}

.rn-textinput.rn-textinput--is-invalid .rn-textinput__outer-wrapper {
  border-color: color(danger, 800);
}

.rn-textinput.rn-textinput--is-valid .rn-textinput__outer-wrapper {
  border-color: color(success, 800);
}

.rn-textinput.rn-textinput--has-focus.rn-textinput--is-invalid .rn-textinput__outer-wrapper {
  box-shadow: 0 0 0 0.2rem rgba(color(danger, 800) , 0.5);
}

.rn-textinput.rn-textinput--has-focus.rn-textinput--is-valid .rn-textinput__outer-wrapper {
  box-shadow: 0 0 0 0.2rem rgba(color(success, 800) , 0.5);
}

.rn-textinput__input-wrapper {
  position: relative;
  padding: 27px spacing(3) spacing(2);
  flex-grow: 1;
  order: 2;
}

.rn-textinput--no-label .rn-textinput__input-wrapper {
  padding: spacing(3);
}

.rn-textinput__label {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: translate(12px, 20px) scale(1);
  transition:
    color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}

.rn-textinput--has-focus .rn-textinput__label,
.rn-textinput--has-content .rn-textinput__label {
  transform: translate(12px, 10px) scale(0.75);
}

.rn-textinput.rn-textinput--is-invalid .rn-textinput__label {
  color: color(danger, 800);
}

.rn-textinput.rn-textinput--is-valid .rn-textinput__label {
  color: color(success, 800);
}

.rn-textinput__input {
  display: block;
  box-sizing: content-box;
  width: 100%;
  min-width: 0;
  height: 1.1875rem;
  margin: 0;
  border: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;
}


.rn-textinput__input:focus {
  outline: 0;
}

.rn-textinput__invalid-feedback {
  color: color(danger, 800);
  margin: spacing(2) spacing(3);
}

.rn-textinput__start-adornment,
.rn-textinput__end-adornment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: spacing(3);
}

.rn-textinput__start-adornment {
  order: 1;
  padding-right: 0;
}

.rn-textinput__end-adornment {
  order: 3;
  padding-left: 0;
}
