@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

$timeline-border-color: f.color("neutral", "100");
$timeline-bg-color: f.color("neutral", "000");
$timeline-alt-bg-color: f.color("neutral", "white");
$timeline-row-header-width: 16rem;

.timeline {
  position: relative;
  display: flex;
  width: 100%;
  background-color: f.color("neutral", "white");
}

.timeline__inner {
  overflow-y: hidden;
  border-right: f.spacing("px") solid $timeline-border-color;
  border-bottom: f.spacing("px") solid $timeline-border-color;
}

.timeline__inner--has-side {
  margin-left: $timeline-row-header-width;
}

.timeline__main {
  width: auto;
  height: auto;
  min-height: 4rem;
}

.timeline__today-marker-wrapper {
  position: relative;
}

.timeline__today-marker--renderDefault {
  position: absolute;
  top: 4rem;
  display: inline-block;
  width: f.spacing("px");
  height: 100vh;
  background-color: f.color("danger", "500");
  @include m.z-index("body", 1);

  &::before {
    content: "Today";
    display: inline-block;
    color: f.color("danger", "500");
    font-size: f.font-size("s");
    transform: translate(-50%, -175%);
  }
}

.timeline__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;

  span {
    background-color: f.color("neutral", "white");
    padding: f.spacing("2");
    @include m.z-index("body", 1);
  }
}

.timeline__navigation {
  position: absolute;
  top: 1rem;
  left: 1rem;

  button {
    &:first-of-type {
      margin-right: f.spacing("4");
    }

    span:first-of-type {
      display: none;
    }

    .rn-btn__icon {
      margin-left: 0;
    }
  }
}

.timeline__months,
.timeline__months--renderDefault {
  white-space: nowrap;
}

.timeline__month--renderDefault {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 4rem;

  &:last-of-type {
    border-right: none;
  }

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: inline-block;
    width: 1rem;
    height: 100vh;
    border-right: f.spacing("px") dashed f.color("neutral", "200");
    @include m.z-index("body", 1);
  }
}

.timeline__month-title--renderDefault {
  font-size: f.font-size("xl");
  font-weight: 600;
  color: f.color("neutral", "600");
  padding-left: f.spacing("8");
}

.timeline__weeks,
.timeline__weeks--renderDefault,
.timeline__days,
.timeline__days--renderDefault,
.timeline__hours,
.timeline__hours--renderDefault {
  white-space: nowrap;
}

.timeline__week--renderDefault,
.timeline__day--renderDefault,
.timeline__hour--renderDefault {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: $timeline-bg-color;
  border-top: f.spacing("px") solid $timeline-border-color;
  border-bottom: f.spacing("px") solid $timeline-border-color;
}

.timeline__week--renderDefault {
  justify-content: unset;
}

.timeline__week-title--renderDefault,
.timeline__day-title--renderDefault,
.timeline__hour-title--renderDefault {
  font-weight: 600;
  font-size: f.font-size("m");
  color: f.color("neutral", "400");
  background-color: $timeline-bg-color;
  @include m.z-index("body", 2);
}

.timeline__week-title--renderDefault {
  margin-left: f.spacing("4");
}

.timeline__week--renderDefault.timeline__week--alt {
  background-color: $timeline-alt-bg-color;

  .timeline__week-title {
    background-color: $timeline-alt-bg-color;
  }
}

.timeline__day--renderDefault,
.timeline__hour--renderDefault {
  border-right: f.spacing("px") solid f.color("neutral", "100");
}

.timeline__day-title--renderDefault,
.timeline__hour-title--renderDefault {
  font-size: f.font-size("xs");
}

.timeline__row {
  display: flex;
  height: 4rem;
}

.timeline__row--short {
  height: 2.5rem;
}

.timeline__row-header {
  min-width: $timeline-row-header-width;
  position: absolute;
  left: 0;
  height: inherit;
  background-color: f.color("neutral", "white");
  border-right: f.spacing("px") solid $timeline-border-color;
  box-shadow: inset 0px 0px 0px 0px $timeline-border-color,
    5px 0px 5px 0px rgba(0, 0, 0, 0.04);
  @include m.z-index("body", 3);
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
  font-size: f.font-size("m");
  font-weight: 600;
  color: f.color("neutral", "600");
  padding-right: f.spacing("8");
}

.timeline__row-header--header {
  font-size: f.font-size("s");
  font-weight: normal;
  color: f.color("neutral", "400");
}

.timeline__row-content {
  position: relative;
}

.timeline__row-weeks-wrapper {
  position: relative;
}

.timeline__row-weeks,
.timeline__row-weeks--renderDefault {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.timeline__row-week--renderDefault {
  display: inline-block;
  height: 100vh;
  background-color: $timeline-bg-color;
}

.timeline__row-week--renderDefault.timeline__row-week--alt {
  background-color: $timeline-alt-bg-color;
}

.timeline__event--renderDefault {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4.5rem;
  transform: translateY(-50%);
  display: inline-flex;
  flex-direction: column;
  padding: f.spacing("2") 0;
  background-color: $timeline-bg-color;
  overflow: visible;
  @include m.z-index("body", 2);
}

.timeline__event--renderDefault.timeline__event--alt {
  background-color: $timeline-alt-bg-color;
}

.timeline__event--renderDefault .timeline__event-title {
  font-size: f.font-size("s");
  font-weight: 400;
  color: f.color("neutral", "600");
  white-space: nowrap;
}

.timeline__event--renderDefault .timeline__event-bar {
  display: inline-block;
  background-color: f.color("success", "500");
  border-radius: 4px;
  height: 16px;
  min-width: 1rem;
}
