@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.rn-toast {
  @include m.shadow("2");
  display: flex;
  flex-direction: column;
  border: 1px solid f.color("neutral", "100");
  border-radius: 4px;
  width: 340px;
  margin-bottom: f.spacing("6");
  background-color: f.color("neutral", "white");
}

.rn-toast__header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: f.spacing("6") f.spacing("6") 0 f.spacing("6");
}

.rn-toast__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rn-toast__label {
  display: inline-flex;
  align-items: center;
  color: f.color("neutral", "500");
  font-size: f.font-size("m");
  font-weight: 600;
  display: block;
  padding: 0;

  > svg {
    margin-right: f.spacing("2");
    transform: translateY(2px);
  }
}

.rn-toast__time {
  color: f.color("neutral", "300");
  font-style: italic;
  font-size: f.font-size("base");
  padding-top: f.spacing("2");
}


.rn-toast__content {
  padding: f.spacing("4") f.spacing("6") f.spacing("6") f.spacing("6");
}

.rn-toast__description {
  color: f.color("neutral", "400");
  font-size: f.font-size("base");
  padding-top: f.spacing("4");
}

.rn-toast__btn {
  background: none;
  border: none;
  color: f.color("neutral", "300");
  font-size: f.font-size("base");
  font-weight: 500;
  margin: 0;
  padding: f.spacing("6") f.spacing("6");
  &:hover {
    color: f.color("neutral", "400");
    background-color: f.color("neutral", "000");
  }
}

.rn-toast--success {
  .rn-toast__label > svg {
    color: f.color("success", "500");
  }
}

.rn-toast--error {
  .rn-toast__label > svg {
    color: f.color("danger", "500");
  }
}

.rn-toast--warning {
  .rn-toast__label > svg {
    color: f.color("warning", "500");
  }
}

.rn-toast--info {
  .rn-toast__label > svg {
    color: f.color("action", "500");
  }
}
