@import "@royalnavy/css-framework";

$border-radius: 4px;

.border-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dae2ec;
  color: #253b5b;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px 0 rgba(000, 000, 000, .15);
}

.border-card__head {
  background-color: #f0f4f8;
  padding: spacing(4);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.border-card__body {
  padding: 0 spacing(4) spacing(4);
}

.border-card__body {
  font-size: font-size(s);
}

.border-card__text {
  font-size: font-size(s);
}

.border-card__link {
  text-decoration: none;
  font-weight: 600;
  color: inherit;

  svg {
    height: 12px;
    margin-left: spacing(2);
  }
}
