@import "@royalnavy/css-framework";

.rn-links {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  margin: spacing("4") 0 0 0;
}

.rn-links__item {
  display: inline-block;
  padding: 0 spacing("8");  
  font-size: font-size("base");
  margin-bottom: 0;
  position: relative;
  &::after {
    content: "•";
    color: color("neutral", "white");
    position: absolute;
    right: -4.5px;
    top: 4px;
    font-size: font-size("xs");
    opacity: 0.5;
  }
  &:last-child::after {
    content: "";
  }
}

.rn-links__item:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

.rn-links__link,
.rn-links a {
  text-decoration: none
}
