version: 2.1

aliases:
  - &authenticate_npm
      run:
        name: Authenticate NPM
        command: echo "//$NPM_REGISTRY/:_authToken=$NPM_AUTH_TOKEN" > ~/.npmrc
  - &build_icon_library
      run:
        name: Build Icon Library
        command: yarn --cwd packages/icon-library build
  - &build_design_tokens
      run:
        name: Build Design Tokens
        command: yarn --cwd packages/design-tokens build
  - &docker
      - image: circleci/node:12.13.0

commands:
  dependencies:
    description: 'Load dependency cache, get dependencies and update cache'
    steps:
      - restore_cache:
          keys:
            - yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - yarn-packages-v2-{{ .Branch }}-
            - yarn-packages-v2-
      - run: yarn install --frozen-lockfile --cache-folder ~/.cache/yarn

jobs:
  build_icon-library:
    docker: *docker
    steps:
      - checkout
      - run: yarn install
      - *build_icon_library
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - persist_to_workspace:
          root: /home/circleci/project
          paths:
            - packages/icon-library
  build_design-tokens:
    docker: *docker
    steps:
      - checkout
      - run: yarn install
      - *build_design_tokens
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-packages-v2-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - persist_to_workspace:
          root: /home/circleci/project
          paths:
            - packages/design-tokens
  security_audit:
    docker: *docker
    steps:
      - checkout
      - run: yarn audit
  check_commits:
    docker: *docker
    steps:
      - attach_workspace:
          at: .
      - run: node ./scripts/commitlint $CIRCLE_PULL_REQUEST
      - run: node ./scripts/check-fixup $CIRCLE_PULL_REQUEST
  lint_css-framework:
    docker: *docker
    steps:
      - checkout
      - dependencies
      - run: mkdir -p packages/css-framework/test-results/stylelint
      - run: yarn --cwd packages/css-framework --silent stylelint --custom-formatter '../../node_modules/stylelint-junit-formatter/index.js' ./index.scss > packages/css-framework/test-results/stylelint/results.xml
      - store_test_results:
          path: packages/css-framework/test-results/stylelint
      - store_artifacts:
          path: packages/css-framework/test-results/stylelint
  lint_react-component-library:
    docker: *docker
    steps:
      - checkout
      - dependencies
      - run: mkdir -p packages/react-component-library/test-results/eslint
      - run:
          name: Lint
          environment:
            ESLINT_JUNIT_OUTPUT: test-results/eslint/react-component-results.xml
          command: yarn --cwd packages/react-component-library lint:ci
      - store_test_results:
          path: packages/react-component-library/test-results
      - store_artifacts:
          path: packages/react-component-library/test-results
  lint_docs_site:
    docker: *docker
    steps:
      - checkout
      - dependencies
      - run:
          name: SVGR
          command: yarn --cwd packages/docs-site svgr
      - run: mkdir -p packages/docs-site/test-results/eslint
      - run:
          name: Lint
          environment:
            ESLINT_JUNIT_OUTPUT: test-results/eslint/docs-site-results.xml
          command: yarn --cwd packages/docs-site lint:ci
      - store_test_results:
          path: packages/docs-site/test-results
      - store_artifacts:
          path: packages/docs-site/test-results
  test_react-component-library:
    docker: *docker
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Jest
          environment:
            JEST_JUNIT_OUTPUT_DIR: test-results/jest
            JEST_JUNIT_OUTPUT_NAME: react-component-results.xml
          command: yarn --cwd packages/react-component-library jest --ci --coverage --silent --no-cache --reporters=default --reporters=jest-junit --runInBand
      - store_test_results:
          path: packages/react-component-library/test-results
      - store_artifacts:
          path: packages/react-component-library/test-results
      - persist_to_workspace:
          root: packages
          paths:
            - react-component-library/coverage
  code_cov:
    docker: *docker
    steps:
      - checkout
      - attach_workspace:
          at: packages
      - run:
          name: Upload Code coverage reports
          working_directory: ~/project/packages/
          command: bash <(curl -s https://codecov.io/bash)
  test_visual_regression:
    docker: *docker
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run visual regression tests
          command: |
            if [ "${CIRCLE_BRANCH}" = "master" ]; then
              yarn --cwd packages/react-component-library chromatic --app-code=$CHROMATIC_APP_CODE --auto-accept-changes
            else
              yarn --cwd packages/react-component-library chromatic --app-code=$CHROMATIC_APP_CODE
            fi
  publish_latest:
    docker: *docker
    steps:
      - checkout
      - dependencies
      - attach_workspace:
          at: packages
      - *authenticate_npm
      - deploy: #deploy step is important to prevent triggering N builds
          name: Publish latest packages
          command: >-
            node ./scripts/npm/publish.js https://$NPM_REGISTRY latest packages/css-framework &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY latest packages/eslint-config-react &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY latest packages/fonts &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY latest packages/icon-library &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY latest packages/react-component-library &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY latest packages/cra-template-royalnavy &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY latest packages/design-tokens
  publish_next:
    docker: *docker
    steps:
      - checkout
      - dependencies
      - attach_workspace:
          at: packages
      - *authenticate_npm
      - deploy: #deploy step is important to prevent triggering N builds
          name: Publish next packages
          command: >-
            node ./scripts/npm/publish.js https://$NPM_REGISTRY next packages/css-framework &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY next packages/eslint-config-react &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY next packages/fonts &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY next packages/icon-library &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY next packages/react-component-library &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY next packages/cra-template-royalnavy &&
            node ./scripts/npm/publish.js https://$NPM_REGISTRY next packages/design-tokens
  commit_next:
    docker: *docker
    steps:
      - checkout
      - dependencies
      - attach_workspace:
          at: packages
      - run:
          name: Configure Git
          command: >-
            git config user.email "${GH_EMAIL}" &&
            git config user.name "${GH_NAME}" &&
            git remote set-url origin https://${GH_TOKEN}@github.com/Royal-Navy/design-system.git &&
            git checkout master
      - deploy: #deploy step is important to prevent triggering N builds
          name: Publish next packages
          command: >-
            yarn lerna:prerelease --yes --no-push &&
            git tag -d $(git describe --abbrev=0) &&
            git push origin master
  test_docs-site:
    docker: *docker
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Build React Components
          command: yarn --cwd packages/react-component-library build
      - run:
          name: Build site
          command: yarn --cwd packages/docs-site build
      - run:
          name: Jest
          environment:
            JEST_JUNIT_OUTPUT_DIR: test-results/jest
            JEST_JUNIT_OUTPUT_NAME: docs-site-results.xml
          command: yarn --cwd packages/docs-site jest --ci --coverage --silent --no-cache --reporters=default --reporters=jest-junit --runInBand
      - store_test_results:
          path: packages/docs-site/test-results
      - store_artifacts:
          path: packages/docs-site/test-results
      - persist_to_workspace:
          root: packages
          paths:
            - docs-site/coverage

workflows:
  version: 2
  # build_and_test_feature:
  #   jobs:
  #     - build_icon-library:
  #         filters:
  #           branches:
  #             ignore:
  #               - master
  #               - latest
  #     - security_audit:
  #         requires:
  #           - build_icon-library
  #         filters:
  #           branches:
  #             ignore:
  #               - master
  #               - latest
  #     - check_commits:
  #         requires:
  #           - build_icon-library
  #         filters:
  #           branches:
  #             ignore:
  #               - master
  #               - latest
  #     - lint_css-framework:
  #         filters:
  #           branches:
  #             ignore:
  #               - master
  #               - latest
  #     - lint_react-component-library:
  #         filters:
  #           branches:
  #             ignore:
  #               - master
  #               - latest
  #     - lint_docs_site:
  #         filters:
  #           branches:
  #             ignore:
  #               - master
  #               - latest
  #     - test_docs-site:
  #         requires:
  #           - lint_docs_site
  #           - build_icon-library
  #     - test_react-component-library:
  #         requires:
  #           - lint_react-component-library
  #           - build_icon-library
  #     - code_cov:
  #         requires:
  #           - test_react-component-library
  #           - test_docs-site
  #     - test_visual_regression:
  #         requires:
  #           - test_react-component-library
  #           - build_icon-library

  build_test_and_deploy_next:
    jobs:
      - build_icon-library:
          filters:
            branches:
              only:
                - master
      - build_design-tokens:
          filters:
            branches:
              only:
                - master
      - commit_next:
         requires:
            - build_icon-library
            - build_design-tokens
         filters:
            branches:
              only:
                - master
      - test_react-component-library:
          requires:
            - build_icon-library
            - build_design-tokens
          filters:
            branches:
              only:
                - master
      - test_visual_regression:
          requires:
            - build_icon-library
            - build_design-tokens
          filters:
            branches:
              only:
                - master
      - publish_next:
          requires:
            - test_react-component-library
            - test_visual_regression
            - commit_next
  build_test_and_deploy_latest:
    jobs:
      - build_icon-library:
          filters:
            branches:
              only:
                - latest
      - build_design-tokens:
          filters:
            branches:
              only:
                - latest
      - security_audit:
          requires:
            - build_icon-library
            - build_design-tokens
          filters:
            branches:
              only:
                - latest
      - check_commits:
          requires:
            - build_icon-library
            - build_design-tokens
          filters:
            branches:
              only:
                - latest
      - lint_css-framework:
          filters:
            branches:
              only:
                - latest
      - lint_react-component-library:
          filters:
            branches:
              only:
                - latest
      - lint_docs_site:
          filters:
            branches:
              only:
                - latest
      - test_docs-site:
          requires:
            - build_icon-library
            - build_design-tokens
            - lint_docs_site
      - test_react-component-library:
          requires:
            - build_icon-library
            - build_design-tokens
            - lint_react-component-library
      - test_visual_regression:
          requires:
            - test_react-component-library
      - publish_latest:
          requires:
            - test_visual_regression
