// Establish a new variable here in order to override it
// in a context file.

$breakpoints: null !default;
$colors:      null !default;
$spacing:     null !default;
$shadows:     null !default;
$typography:  null !default;
$zIndex:      null !default;