/* stylelint-disable */
// Check to see if this context is enabled
@use "../config";
@use "defaults";


@if config.$context == "light" {  
  // Breakpoints  
  defaults.$breakpoints: (
    "root": (
      "breakpoint": 0,
      "baseFontSize": 100%,
    ),
    "xs": (
      "breakpoint": 576px,
      "baseFontSize": 94%,
    ),
    "s": (
      "breakpoint": 768px,
      "baseFontSize": 96%,
    ),
    "m": (
      "breakpoint": 1024px,
      "baseFontSize": 98%,
    ),
    "l": (
      "breakpoint": 1200px,
      "baseFontSize": 100%,
    ),
    "xl": (
      "breakpoint": 1400px,
      "baseFontSize": 103%,
    ),
    "xxl": (
      "breakpoint": 1600px,
      "baseFontSize": 106%,
    ),
  );
  
  // Set the context colours
  defaults.$colors: (
    "neutral": (
      "black": #0a141b,
      "900": #0a141b,
      "800": #0c1720,
      "700": #12202b,
      "600": #1c2d39,
      "500": #233745,
      "400": #3e5667,
      "300": #748999,
      "200": #b8c7d2,
      "100": #e2e9ee,
      "000": #f8fafc,
      "white": #ffffff,
    ),
    "action": (
      "900": #253b5b,
      "800": #274776,
      "700": #2661a7,
      "600": #2a77c7,
      "500": #3a8fdd,
      "400": #58aae9,
      "300": #85c6f2,
      "200": #b7dff7,
      "100": #ddf4ff,
      "000": #ecf8ff,
    ),
    "supa": (
      "900": #343160,
      "800": #3b3985,
      "700": #4248b6,
      "400": #7392f3,
      "500": #5b73e6,
      "600": #4e5cd3,
      "300": #99b7f9,
      "200": #bbd5fe,
      "100": #deebff,
      "000": #e8f2ff,
    ),
    "supb": (
      "900": #3b2d6e,
      "800": #4b358f,
      "700": #603fb8,
      "600": #744fd0,
      "500": #936fe8,
      "400": #ad89f1,
      "300": #d0b5f9,
      "200": #e5d3fd,
      "100": #f2e9ff,
      "000": #f9f3ff,
    ),
    "supc": (
      "900": #6c2d6e,
      "800": #8c358f,
      "700": #b43fb8,
      "600": #cc4fd0,
      "500": #e46fe8,
      "400": #ee89f1,
      "300": #f7b5f9,
      "200": #fcd3fd,
      "100": #fee9ff,
      "000": #fff3ff,
    ),
    "supd": (
      "900": #6c2d6e,
      "800": #8c358f,
      "700": #b43fb8,
      "600": #cc4fd0,
      "500": #e46fe8,
      "400": #ee89f1,
      "300": #f7b5f9,
      "200": #fcd3fd,
      "100": #fee9ff,
      "000": #fff3ff,
    ),
    "danger": (
      "900": #841c1b,
      "800": #B22820,
      "700": #d53228,
      "600": #ec4138,
      "500": #f45249,
      "400": #fc7c75,
      "300": #fea9a9,
      "200": #fed1d1,
      "100": #feeaec,
      "000": #fff3f4,
    ),
    "supe": (
      "900": #853a0c,
      "800": #9d4712,
      "700": #c25c1d,
      "600": #e0712c,
      "500": #f48b49,
      "400": #fca975,
      "300": #fecaa9,
      "200": #fee2d1,
      "100": #fef2ea,
      "000": #fff8f3,
    ),
    "warning": (
      "900": #804701,
      "800": #9f5a06,
      "700": #c3771a,
      "600": #e8a224,
      "500": #fab73d,
      "400": #ffd062,
      "300": #ffdf80,
      "200": #feedb8,
      "100": #fff6dc,
      "000": #fffcee,
    ),
    "success": (
      "900": #3b612c,
      "800": #3b6f33,
      "700": #479442,
      "600": #60b255,
      "500": #76c767,
      "400": #8fd57f,
      "300": #abe39b,
      "200": #c6f3b5,
      "100": #e5ffd9,
      "000": #f4ffef,
    ),
    "supf": (
      "900": #1f4a35,
      "800": #245c40,
      "700": #297a4f,
      "600": #31975e,
      "500": #3fb26d,
      "400": #5dcd86,
      "300": #8fe2ab,
      "200": #bff4cf,
      "100": #dfffe9,
      "000": #eefff2,
    ),
  );

  // State Mapping

  // defaults.$states: (
  //   "neutral": (
  //     "default": color("neutral", "500"),
  //     "faded": color("neutral", "200"),
  //   ),
  //   "action": (
  //     "default": color("action", "500"),
  //     "faded": color("action", "200"),
  //   ),
  //   "danger": (
  //     "default": color("danger", "500"),
  //     "faded": color("danger", "200"),
  //   ),
  //   "warning": (
  //     "default": color("warning", "500"),
  //     "faded": color("warning", "200"),
  //   ),
  //   "success": (
  //     "default": color("success", "500"),
  //     "faded": color("success", "200"),
  //   ),
  // );

  // Spacing
  // Set to 16px by default
  $_spacer: 1rem;
  defaults.$spacing: (
    "0": 0,
    "1": (
      // 2px
      $_spacer * 0.125,
    ),
    "2": (
      // 4px
      $_spacer * 0.25,
    ),
    "3": (
      // 6px
      $_spacer * 0.375,
    ),
    "4": (
      // 8px
      $_spacer * 0.5,
    ),
    "5": (
      // 10px
      $_spacer * 0.625,
    ),
    "6": (
      // 12px
      $_spacer * 0.75,
    ),
    "7": (
      // 14px
      $_spacer * 0.875,
    ),
    // 16px
    "8": $_spacer,
    "9": (
      // 18px
      $_spacer * 1.125,
    ),
    "10": (
      // 20px 
      $_spacer * 1.25,
    ),
    "11": (
      // 24px
      $_spacer * 1.5,
    ),    
    "12": (
      // 32px
      $_spacer * 2,
    ),    
    "13": (
      // 40px
      $_spacer * 2.5,
    ),    
    "14": (
      // 48px
      $_spacer * 3,
    ),    
    "15": (
      // 64px
      $_spacer * 4,
    ),
    "16": (
      // 80px
      $_spacer * 5,
    ),
    "17": (
      // 96px
      $_spacer * 6,
    ),
    "18": (
      // 112px
      $_spacer * 7,
    ),
    "19": (
      // 128px
      $_spacer * 8,
    ),
    "20": (
      // 144px
      $_spacer * 9,
    ),
    "px": 1px,
    "full": 100%,
  );

  defaults.$shadows: (
    "0": 0 0 0 transparent,
    "1": 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    "2": 0 6px 14px 0 rgba(0, 0, 0, 0.16),
    "3": 0 12px 28px 0 rgba(0, 0, 0, 0.26),
  );

  // Typography
  defaults.$typography: (
    // 8px
    "xxs": 0.5rem,
    // 10px
    "xs": 0.625rem,
    // 12
    "s": 0.75rem,
    // 14px
    "base": 0.875rem,
    // 16px
    "m": 1rem,
    // 18px
    "l": 1.125rem,
    // 20px
    "xl": 1.25rem,
    // 24px
    "xxl": 1.5rem,
    // 30px
    "display": 1.875rem,
    // 36px
    "display-l": 2.25rem,
    // 48px
    "display-xl": 3rem,
  );

  // Z Index Levels
  defaults.$zindex: (
    "dialog": 9000,
    "modal": 8000,
    "overlay": 7000,
    "dropdown": 6000,
    "header": 5000,
    "footer": 4000,
    "body": 0,
  );
}