/* stylelint-disable */
// Check to see if this context is enabled
@use "sass:map";
@use "@royalnavy/design-tokens/dist" as *;
@use "../config";
@use "defaults";

@if config.$context == "light" {

  defaults.$breakpoints: map.get($tokens, "breakpoint");
  defaults.$colors:      map.get($tokens, "color");
  defaults.$shadows:     map.get($tokens, "shadow");
  defaults.$spacing:     map.get($tokens, "spacing");
  defaults.$typography:  map.get($tokens, "typography");
  defaults.$zindex:      map.get($tokens, "zindex");

}
