.swatch {
  width: 100px;
  height: 100px;
  text-align: center;
}

.swatch-block {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 3px;
}

.swatch .label {
  color: #627d98;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
}