/**************************************************************************

    Breakpoint Mixin
    =================

    When supplied with a breakpoint name, the size in px is returned


**************************************************************************/
@use "sass:map";
@use "../../vars";

@mixin breakpoint($bp) {
  @if map.has-key(vars.$breakpoints, $bp) {
    $_width: #{map.deep-get(vars.$breakpoints, $bp, "breakpoint")};
    @media only screen and (min-width: #{$_width}) {
      @content;
    }
  }

  @else {
    @error "No breakpoint value could be retrieved for #{$bp}";
  }
}