/**************************************************************************

    Font Size Mixin
    =================

    When supplied with a typography level, the associated value is returned

**************************************************************************/

@use "sass:map";
@use "@royalnavy/design-tokens/dist" as vars;

@mixin font-size($size) {
  @if map.has-key(vars.$typography, $size) {
    font-size: map.get(vars.$typography, $size);
  }

  @else {
    @error "No font size could be retrieved for #{$size}";
  }
}
