.grid-container {
  > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "design design develop develop contact contact"
      "lead   lead   lead    links   links   links";
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    align-items: start;
    padding-bottom: 120px;
  }

  .info-box {
    align-self: stretch;
  }

  .design {
    grid-area: design;
  }

  .develop {
    grid-area: develop;
  }

  .contact-us {
    grid-area: contact;
  }

  .content-box {
    grid-area: lead;
    align-self: center;
  }

  .quick-links {
    grid-area: links;
    // padding-left: 100px;
  }
  
}