@use "@royalnavy/css-framework" as rn;

$border-radius: 4px;
$border-color: #dae2ec;
$card-background-color: #f0f4f8;

.card {
  display: flex;
  flex-direction: column;
  color: #253b5b;
  
  svg {
    transition: transform 0.2s;
  }
  &:hover {
    text-decoration: none;

  
    .card__title {
      color: rn.color("action", "500");
    }
    .card__link {
      svg {
        transform: translateX(10px);
        fill: rn.color("action", "500");
      }
    } 
  }
}

.card__head {
  background-color: transparent;
  padding: rn.spacing("11") rn.spacing("11") 0;
  font-size: rn.font-size("xxl");
  font-weight: 600;
}

.card__title {
  transition: color 0.2s;
}


.card__body {
  padding: rn.spacing("4") rn.spacing("11") rn.spacing("11");
  font-size: rn.font-size("base");
}

.card__image {
  display: block;
  width: 100%;
  margin-top: rn.spacing("8");
}

@include rn.breakpoint("xs") {

  .card__title {
    font-size: rn.font-size("l");
    font-weight: 500;
  }
  .card__image {
    max-width: 25%;
    min-width: 10rem;
  }

  .card__image--position-left {
    float: left;
    margin: rn.spacing("8") rn.spacing("8") 0 0;
  }

  .card__image--position-right {
    float: right;
    margin: rn.spacing("8") 0 0 rn.spacing("8");
  }
}

.card__text {
  font-size: rn.font-size("base");
  font-weight: 300;
}

.card__link {
  text-decoration: none;
  font-weight: 600;
  color: inherit;

  svg {
    height: 12px;
    margin-left: rn.spacing("4");
  }
}

.card--borderless .card__body,
.card--borderless .card__head {
  padding-left: 0;
  padding-right: 0;
}

.card--border {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px 0 rgba(000, 000, 000, .15);
}

.card--border .card__head {
  padding: rn.spacing("8") rn.spacing("11");
  background-color: $card-background-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  font-size: rn.font-size("base");
  font-weight: normal;
}

.card--coloured {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card--coloured .card__head {
  display: flex;
  flex-flow: column;
  font-size: rn.font-size("l");
}

.card--coloured .card__text {
  margin-bottom: 0;
}

.card--coloured .card__meta {
  margin-bottom: rn.spacing("4");
  font-size: rn.font-size("base");
  color: #698098;
}
