@import '@royalnavy/css-framework';

.sidebar {
  padding: spacing(3);
  display: none;
}

@include breakpoint("m") {
  .sidebar {
    display: block;
  }
}

.sidebar__title {
  display: block;
  padding-bottom: spacing(3);
  font-size: font-size('m');
  font-weight: 600;
  color: color(primary, 900);
}

.sidebar .rn-nav__item {
  display: inline-block;
  width: auto;
  color: color(neutral, 400);
  padding: spacing(2) spacing(3);

  &.is-active {
    background-color: color(primary, 800);
  }
}

.sidebar .rn-nav__list-item.has-children {
  & > .rn-nav__list {
    display: none;
    padding: 0 0 0 spacing(4);
  }

  &.is-open > .rn-nav__list {
    display: block;
  }
}

.sidebar .rn-nav__list-item.has-children .rn-nav__item {
  margin: spacing(1) 0;
}

.sidebar .rn-nav__list-item.has-children > .rn-nav__item {
  font-size: font-size('m');
  color: color(primary, 900);

  &.is-active {
    color: color(neutral, white);
  }
}

.sidebar .rn-nav__list .rn-nav__list {
  padding: spacing(2);
}

.sidebar .rn-nav__list-item + .rn-nav__list-item {
  margin-top: spacing(2);
}

.sidebar .rn-nav__list .rn-nav__list .rn-nav__list-item + .rn-nav__list-item {
  margin-top: unset;
}
