@import '@royalnavy/css-framework';

$border-radius: 4px;
$text-color: #253b5b;

.sidebar {
  background-color: #f0f4f8;
  padding: spacing(10);

  display: none;
}

@include breakpoint("m") {
  .sidebar {
    display: block;
  }
}

.sidebar__title {
  display: block;
  padding-bottom: spacing(8);
  margin-bottom: spacing(4);
  border-bottom: 1px dashed #8c8c8c;
  font-size: font-size('s');
  font-weight: 600;
  color: $text-color;
}

.sidebar .rn-nav__item {
  color: $text-color;
  padding: spacing(3);
}

.sidebar .rn-nav__list-item.has-children {
  background-color: #d2dbe5;
  border-radius: $border-radius;
}

.sidebar .rn-nav__list-item.has-children > .rn-nav__item {
  background-color: #274776;
  color: #fff;
  border-radius: $border-radius;
}

.sidebar .rn-nav__list .rn-nav__list {
  padding: spacing(2);
}

.sidebar .rn-nav__list-item + .rn-nav__list-item {
  margin-top: spacing(2);
}

.sidebar .rn-nav__list .rn-nav__list .rn-nav__list-item + .rn-nav__list-item {
  margin-top: unset;
}
