@import '@royalnavy/css-framework';

.sidebar {
  padding: spacing(3);
  display: none;
}

@include breakpoint("m") {
  .sidebar {
    display: block;
  }
}

.sidebar__title {
  display: block;
  padding-bottom: spacing(3);
  font-size: font-size('m');
  font-weight: 600;
  color: color(primary, 900);
}

.sidebar__toggle {
  border: none;
  background: none;
  display: none;
}

.sidebar .rn-nav__item {
  display: inline-block;
  width: auto;
  color: color(neutral, 400);
  padding: spacing(2) spacing(3);

  &.is-active {
    background-color: color(primary, 800);
  }
}

.sidebar .rn-nav__list-item.has-children {
  position: relative;

  & > .rn-nav__list {
    display: none;
    padding: 0 0 0 spacing(4);
  }

  &.is-open > .rn-nav__list {
    display: block;
  }

  & > .sidebar__toggle {
    display: inline-block;
    transform: translateY(2px) translateX(-6px);
    cursor: pointer;

    &::before {
      display: inline-block;
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 12 9' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-243 -768)' fill='%233E5667'%3E%3Cg transform='translate(174 560)'%3E%3Cpath transform='translate(75.192 212.47) scale(1 -1) rotate(180) translate(-75.192 -212.47)' d='m80.601 210.77l-5.4081 5.4081-5.4081-5.4081c-0.45931-0.45931-0.45931-1.204 0-1.6633l1.248e-4 -1.25e-4c0.45948-0.45934 1.2043-0.4593 1.6637 7.9e-5l3.7443 3.7439 3.7443-3.7439c0.45943-0.45938 1.2043-0.45942 1.6637-7.9e-5 0.45938 0.45924 0.45949 1.2039 2.495e-4 1.6633-4.16e-5 4.2e-5 -8.32e-5 8.4e-5 -1.247e-4 1.25e-4z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      width: 12px;
      height: 7px;
    }
  }

  &.is-open > .sidebar__toggle::before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 12 9' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-243 -768)' fill='%233E5667'%3E%3Cg transform='translate(174 560)'%3E%3Cpath transform='translate(75.192 212.47) rotate(180) translate(-75.192 -212.47)' d='m80.601 210.77l-5.4081 5.4081-5.4081-5.4081c-0.45931-0.45931-0.45931-1.204 0-1.6633l1.248e-4 -1.25e-4c0.45948-0.45934 1.2043-0.4593 1.6637 7.9e-5l3.7443 3.7439 3.7443-3.7439c0.45943-0.45938 1.2043-0.45942 1.6637-7.9e-5 0.45938 0.45924 0.45949 1.2039 2.495e-4 1.6633-4.16e-5 4.2e-5 -8.32e-5 8.4e-5 -1.247e-4 1.25e-4z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}

.sidebar .rn-nav__list-item.has-children .rn-nav__item {
  margin: spacing(1) 0;
}

.sidebar .rn-nav__list-item.has-children > .rn-nav__item {
  font-size: font-size('m');
  color: color(primary, 900);

  &.is-active {
    color: color(neutral, white);
  }
}

.sidebar .rn-nav__list .rn-nav__list {
  padding: spacing(2);
}

.sidebar .rn-nav__list-item + .rn-nav__list-item {
  margin-top: spacing(2);
}

.sidebar .rn-nav__list .rn-nav__list .rn-nav__list-item + .rn-nav__list-item {
  margin-top: unset;
}
