// Non Destructive Map Merge
// @param {Map} $parent-map - map
// @param {Map} $child-map - Key chain
// @return {Map} - Combined Map
@use "sass:map";
@use "sass:meta";

@function non-destructive-map-merge($parent-map, $child-map) {
  $result: $parent-map;
  
  @each $key, $value in $child-map {
    
    @if (not map.has-key($result, $key))
      or (meta.type-of(map.get($result, $key)) != meta.type-of($value))
      or (not (meta.type-of(map.get($result, $key)) == map and meta.type-of($value) == map)) {
      $result: map.merge($result, ($key: $value));
    }

    @else {
      $result: map.merge($result, ($key: non-destructive-map-merge(map.get($result, $key), $value)));
    }
    
  }

  @return $result;
}