@use "sass:map";
@use "../../vars";

@function shadow($size) {
  @if map.has-key(vars.$shadows, $size) {
    @return map.get(vars.$shadows, $size);
  }

  @else {
    @error "No shadow value could be retrieved for #{$size}";
  }
}
