@use "sass:map";
@use "../../vars";

@function font-size($size) {

  // By Default, assume the font-size doesn't exist
  $value: false;

  @if map.has-key(vars.$typography, $size) {
    $value: map.get(vars.$typography, $size);    
  }

  @else {
    @error "No font size could be retrieved for #{$size}";
  }

  @return $value;
}