.primary-navigation {
  display: flex;
  &__link {
    display: block;
    padding: 30px 30px 26px;
    color: #6a7783;
    border-bottom: 4px solid transparent;
    font: {
      size: 16px;
      weight: 600;
    }
    transition: border-color 0.3s, color 0.3s;
    &:hover {
      color: #36404a;
      border-bottom-color: #4b92d1;
    }    
  }

}