.info-box {
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.07);
  border-radius: 4px;
  border: 1px solid #e6edf4;
  transform: translateY(-50%);
  transition: all 0.3s;
  padding: 40px;
  &:hover {
    transform: translateY(-54%);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.11);

    .info-box__arrow {
      transform: translateX(8px);
    }
  }
  // The info box should only have one header so any header level
  // added to this component should look the same.

  &__link {
    font: {
      size: 16px;
      weight: 500;
    }
  }

  &__arrow {
    margin-left: 8px;
    position: relative;
    top: -1px;
    transition: transform 0.3s;
  }

  h1, h2, h3 {
    font: {
      size: 22px;
      weight: 500;
    }
    color: #36404a;
    &::after {
      margin-left: 5px;      
      color: #6c7a87;
    }
  }

  p {
    font: {
      size: 16px;
      weight: 500;
    }
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &.design {
    .info-box__link {
      color: #61bfea;
    }
  }

  &.develop {
    // background-image: url('./develop-docs.svg');
    .info-box__link {
      color: #5d96ee;
    }
  }

  &.contact-us {
    .info-box__link {
      color: #756bef;
    }
  }

  h1, 
  h2, 
  h3 {
    font-size: $header-level-3;
    margin-bottom: $margin * 1.5;
  }

}