@import '@royalnavy/css-framework';
@import 'theme';

$border-radius: 4px;
$border-radius-button: 3px;

.code-highlighter {
  display: flex;
  flex-direction: column;
  color: #273b5b;
  overflow: hidden;
  margin: spacing("8") 0 spacing("11") 0;
}

.code-highlighter__head {
  position: relative;
  padding: spacing("8");
  max-height: 20rem;
  overflow: scroll;
  background-color: color("neutral", "white");
  margin-bottom: spacing("4");
  border-radius: $border-radius;
  border: 1px solid color("neutral", "100");
}

.code-highlighter__body {
  border-radius: $border-radius;
  position: relative;
  background-color: color("neutral", "700");
  overflow: hidden;
}

.code-highlighter__source {
  background-color: inherit;
  font-size: font-size(s);

  pre {
    overflow: hidden;
    position: relative;
  }
}

.code-highlighter__copy {
  position: absolute;
  top: spacing("4");
  right: spacing("4");
  padding: spacing("4");
  border: none;
  border-radius: $border-radius-button;
  background: none;
  color: color("neutral","white");
  font-size: font-size(s);
  z-index: 1;

  svg {
    width: 12px;
    margin-right: spacing("4");
    .post-article & {
      margin-top: 0;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #346ab1;
  }
}

.code-highlighter .line-numbers-rows {
  border: initial;
  background-color: color("neutral", "600");
  text-shadow: none;
  left: 0;
  padding: spacing("11") 0;
  margin-top: 0;

  span::before {
    text-align: right;
    color: color("neutral", "200");
    font-weight: 300;
    font-size: font-size(s);
  }
}

.code-highlighter code {
  padding-left: 0;
}
