@import "@royalnavy/css-framework";

.rn-footer {
  margin-top: spacing(5);
  background: color(primary, 800);
  padding: 0;  
}

.rn-footer__content {
  padding: spacing(8) 0;
}

.rn-footer,
.rn-footer a {
  color: color(neutral, 100);
  border-color: color(neutral, 100);
}

.rn-footer__meta {
  display: flex;
  flex-direction: column;
  padding: spacing(4) 0;
  color: color(neutral, white);
  border-top: 1px solid color(primary, 700);
}

@include breakpoint("s") {
  .rn-footer__meta {
    flex-direction: row;
    justify-content: space-between;
  }
}

.rn-footer__message,
.rn-footer__copyright {
  font-size: font-size(xs);
  line-height: 1.5;
  margin: spacing(1) 0;
  color: color(neutral, 100);
  a {
    color: color(neutral, white);
    text-decoration: underline;
  }
}

.rn-footer__copyright {
  white-space: nowrap;
}
