@import "@royalnavy/css-framework";

.rn-footer {
  margin-top: spacing(10);
  background: color("primary", "800");
  padding: 0;  
}

.rn-footer__content {
  padding: spacing(12) 0;
}

.rn-footer,
.rn-footer a {
  color: color("neutral", "100");
  border-color: color("neutral", "100");
}

.rn-footer__meta {
  background: color("primary", "900");
}

.rn-footer__meta .rn-container {
  display: flex;
  flex-direction: column;
  padding-top: spacing(8);
  padding-bottom: spacing(8);
  color: color("neutral", "white");  
}

@include breakpoint("s") {
  .rn-footer__meta .rn-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.rn-footer__message,
.rn-footer__copyright {
  font-size: font-size(xs);
  line-height: 1.5;
  margin: spacing(2) 0;
  color: color("neutral", "100");
  a {
    color: color("neutral", "white");
    text-decoration: underline;
  }
}

.rn-footer__copyright {
  white-space: nowrap;
}
