@import "@royalnavy/css-framework";

.masthead__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing(3);
  margin-bottom: spacing(3);
}

.masthead .masthead__button {
  margin-left: spacing(3);
}

.masthead__nav {
  display: none;
  margin-top: spacing(3);
  margin-bottom: spacing(3);
}

.masthead__nav.is-open {
  display: block;
}

.masthead__nav .rn-nav .rn-nav__list-item {
  padding-bottom: spacing(1);
  text-align: left !important;
  border-bottom: 1px solid color(primary, 900);
}

.masthead__nav .rn-nav .rn-nav__item {
  font-size: font-size(m) !important;
}

.masthead__nav .rn-nav .rn-nav__list .rn-nav__list .rn-nav__list-item {
  border-bottom: none;
}

.masthead__nav .rn-nav__list .rn-nav__list {
  margin-top: spacing(1);
}

.masthead__nav .rn-nav__list .rn-nav__list {
  padding: 0;
}

.masthead__nav .rn-nav__list .rn-nav__list .rn-nav__item {
  font-size: font-size(s) !important;
}

// .rn-nav__list-item .has-children & .is-open
.masthead__nav.is-open .rn-nav .rn-nav__list .rn-nav__list-item.has-children.is-open .rn-nav__list {
  display: block;
}

// immediate children & .has-children <a />
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list-item.has-children .rn-nav__item {
  pointer-events: none;
}

// nested children <a />
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list .rn-nav__list-item .rn-nav__item {
  pointer-events: all;
}

@include breakpoint("s") {
  .masthead__container {
    display: block;
  }

  .masthead__logo {
    width: 405px;
    height: 39px;
    margin-bottom: 0;
  }

  .masthead .masthead__button {
    display: none;
  }

  .masthead__nav {
    display: block;
  }

  .masthead .rn-nav__list-item {
    display: inline-block;
    width: auto;
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }

  .masthead__nav .rn-nav .rn-nav__item {
    font-weight: normal;
    font-size: font-size(s) !important;
  }

  // hide all children above mobile
  .masthead__nav .rn-nav .rn-nav__list .rn-nav__list {
    display: none !important;
  }

  // ensure all top level anchors work
  .masthead__nav .rn-nav__item {
    pointer-events: all !important;
  }
}
