@import "@royalnavy/css-framework";

.masthead {
  margin-bottom: spacing(3);
}

.masthead__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing(3);
  margin-bottom: spacing(3);
}

.masthead .masthead__button {
  margin-left: spacing(3);
}

.masthead__nav {
  display: none;
  margin-top: spacing(3);
  margin-bottom: spacing(3);
}

.masthead__nav.is-open {
  display: block;
}

.masthead__nav .rn-nav .rn-nav__list-item {
  padding: 0;
  margin: 0;
  text-align: left !important;
  border-bottom: 1px solid color(neutral, 200);

  &:last-of-type {
    border-bottom: none;
  }
}

.masthead__nav .rn-nav .rn-nav__item {
  font-size: font-size(m) !important;
  color: color(primary, 800);
  border-radius: 0;
  font-weight: 600;

  &.is-active {
    background-color: color(primary, 800);
    color: color(neutral, white);
  }
}

.masthead__nav .rn-nav .rn-nav__list .rn-nav__list .rn-nav__list-item {
  border-bottom: none;
}

.masthead__nav .rn-nav__list .rn-nav__list {
  margin-top: spacing(1);
  margin-bottom: spacing(4);
  padding: 0 spacing(6);
}

.masthead__nav .rn-nav__list .rn-nav__list .rn-nav__item {
  color: color(primary, 800) !important;
  font-size: font-size(s) !important;
  border-radius: 4px;

  &.is-active {
    color: color(neutral, white) !important;
  }
}

// .rn-nav__list-item .has-children & .is-open
.masthead__nav.is-open .rn-nav .rn-nav__list .rn-nav__list-item.has-children.is-open .rn-nav__list {
  display: block;
}

// immediate children & .has-children <a />
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list-item.has-children .rn-nav__item {
  pointer-events: none;
}

// immediate children & .has-children <a />.is-active
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list-item.has-children > .rn-nav__item.is-active {
  background-color: transparent;
  color: color(primary, 800);
}

// nested children <a />
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list .rn-nav__list-item .rn-nav__item {
  pointer-events: all;
}

// "[...]overview"
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list .rn-nav__list-item:first-of-type {
  padding-bottom: spacing(4);
  margin-bottom: spacing(4);
  border-bottom: 1px dashed color(neutral, 200);
}

// third level
.masthead__nav .rn-nav__list .rn-nav__list .rn-nav__list {
  margin: 0;
  padding: 0;
}

// third level - first child
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list .rn-nav__list .rn-nav__list-item:first-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}


.masthead__logo {
  margin-bottom: 0;
  margin-top: 0;
  width: 310px;
}

@include breakpoint("s") {
  .masthead {
    margin-bottom: 0;
  }

  .masthead__container {
    display: block;
  }

  .masthead__logo {
    width: 405px;
    height: 52px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .masthead .masthead__button {
    display: none;
  }

  .masthead__nav {
    display: block;
  }

  .masthead .rn-nav__list-item {
    display: inline-block;
    width: auto;
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }

  .masthead__nav .rn-nav .rn-nav__list .rn-nav__list-item .rn-nav__item {
    font-size: font-size(s) !important;
    pointer-events: all !important;
    border-radius: 4px;
    font-weight: 600;
  }

  // hide all children above mobile
  .masthead__nav .rn-nav .rn-nav__list .rn-nav__list {
    display: none !important;
  }

  // immediate children & .has-children <a />.is-active
  .masthead__nav .rn-nav > .rn-nav__list .rn-nav__list-item.has-children > .rn-nav__item.is-active {
    background-color: color(primary, 800);
    color: color(neutral, white);
  }
}
