@import "@royalnavy/css-framework";

.masthead {
  margin-bottom: spacing("6");
  background: white;
}

.masthead__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: spacing("6");
  padding-bottom: spacing("6");
}

.masthead .masthead__button {
  margin-left: spacing("6");
}

.masthead__nav {
  display: none;
  padding-top: spacing("6");
  padding-bottom: spacing("6");
}

.masthead__nav.is-open {
  display: block;
}

.masthead__nav .rn-nav .rn-nav__list-item {
  padding: 0;
  margin: 0;
  text-align: left !important;
  border-bottom: 1px solid color("neutral", "200");

  &:last-of-type {
    border-bottom: none;
  }
}

.masthead__nav .rn-nav .rn-nav__item {
  font-size: font-size("l") !important;
  color: color("action", "800");
  border-radius: 0;
  font-weight: 600;

  &.is-active {
    background-color: color("action", "800");
    color: color("neutral", "white");
  }
}

.masthead__nav .rn-nav .rn-nav__list .rn-nav__list .rn-nav__list-item {
  border-bottom: none;
}

.masthead__nav .rn-nav__list .rn-nav__list {
  margin-top: spacing("2");
  margin-bottom: spacing("8");
  padding: 0 spacing("11");
}

.masthead__nav .rn-nav__list .rn-nav__list .rn-nav__item {
  color: color("action", "800") !important;
  font-size: font-size("base") !important;
  border-radius: 4px;

  &.is-active {
    color: color("neutral", "white") !important;
  }
}

// .rn-nav__list-item .has-children & .is-open
.masthead__nav.is-open .rn-nav .rn-nav__list .rn-nav__list-item.has-children.is-open .rn-nav__list {
  display: block;
}

// immediate children & .has-children <a />
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list-item.has-children .rn-nav__item {
  pointer-events: none;
}

// immediate children & .has-children <a />.is-active
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list-item.has-children > .rn-nav__item.is-active {
  background-color: transparent;
  color: color("action", "800");
}

// nested children <a />
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list .rn-nav__list-item .rn-nav__item {
  pointer-events: all;
}

// "[...]overview"
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list .rn-nav__list-item:first-of-type {
  padding-bottom: spacing("8");
  margin-bottom: spacing("8");
  border-bottom: 1px dashed color("neutral", "200");
}

// third level
.masthead__nav .rn-nav__list .rn-nav__list .rn-nav__list {
  margin: 0;
  padding: 0;
}

// third level - first child
.masthead__nav .rn-nav > .rn-nav__list .rn-nav__list .rn-nav__list .rn-nav__list-item:first-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}


.masthead__logo {
  margin-bottom: 0;
  margin-top: 0;
  width: 210px;
}

@include breakpoint("xs") {
  .masthead {
    margin-bottom: 0;
  }

  .masthead__container {
    display: block;
  }

  .masthead__logo {
    width: 300px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .masthead .masthead__button {
    display: none;
  }

  .masthead__nav {
    display: block;
  }

  .masthead .rn-nav__list-item {
    display: inline-block;
    width: auto;
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }

  .masthead__nav .rn-nav .rn-nav__list .rn-nav__list-item .rn-nav__item {
    font-size: font-size("base") !important;
    pointer-events: all !important;
    border-radius: 4px;
    font-weight: 600;
  }

  // hide all children above mobile
  .masthead__nav .rn-nav .rn-nav__list .rn-nav__list {
    display: none !important;
  }

  // immediate children & .has-children <a />.is-active
  .masthead__nav .rn-nav > .rn-nav__list .rn-nav__list-item.has-children > .rn-nav__item.is-active {
    background-color: color("action", "800");
    color: color("neutral", "white");
  }
}
