@import "@royalnavy/css-framework";

.masthead {
  margin-bottom: spacing(5);
}

.masthead__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: spacing(3);
  margin-bottom: spacing(3);
}

.masthead .masthead__button {
  margin-left: spacing(3);
}

.masthead__nav {
  display: none;
  margin-top: spacing(3);
  margin-bottom: spacing(3);
}

.masthead__nav.is-open {
  display: block;
}

@include breakpoint("s") {
  .masthead__container {
    display: block;
  }

  .masthead__logo {
    width: 405px;
    height: 39px;
    margin-bottom: 0;
  }

  .masthead .masthead__button {
    display: none;
  }

  .masthead__nav {
    display: block;
  }

  .masthead .rn-nav__list-item {
    display: inline-block;
    width: auto;
  }
}
