/*

  These config variables can be overridden by the
  consumer when they import the CSS Framework.

*/

$font-size:   16px !default;
$font-family: "lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$context:     "light" !default;

// Contexts
$breakpoints: () !default;
$colors:      () !default;
$spacing:     () !default;
$shadows:     () !default;
$typography:  () !default;
$zindex:      () !default;


// Utility Namespace
$utility-ns: "rn_";

$content-width: 1280px;
$animation-timing: 0.2s;

// Dev helpers
$dev-mode: true !default;

// Feature toggling
$disable-base-styles: false !default;

$enable-utility-all: true !default;

$enable-utility-clearfix:   true !default;
$enable-utility-flex:       true !default;
$enable-utility-position:   true !default;
$enable-utility-shadows:    true !default;
$enable-utility-sizing:     true !default;
$enable-utility-spacing:    true !default;
$enable-utility-typography: true !default;
$enable-utility-visibility: true !default;
