/*

  These config variables can be overridden by the
  consumer when they import the CSS Framework.

*/

$font-size:   16px !default;
$font-family: "lato" !default;
$context:     "light" !default;

// Contexts
$breakpoints: () !default;
$colors:      () !default;
$spacing:     () !default;
$shadows:     () !default;
$typography:  () !default;
$zindex:      () !default;


// Utility Namespace
$utility-ns: "rn_";

$content-width: 1280px;
$animation-timing: 0.3s;

// Dev helpers
$dev-mode: false !default;
