/*

  These config variables can be overridden by the 
  consumer when they import the CSS Framework.

*/

$font-size:   16px !default;
$font-family: "lato" !default;
$context:     "light" !default;

// Contexts
$breakpoints: null !default;
$colors:      null !default;
$spacing:     null !default;
$shadows:     null !default;
$typography:  null !default;
$zIndex:      null !default;


// Utility Namespace
$utility-ns: "rn_";

$content-width: 1280px;
