@use "@royalnavy/css-framework" as rn;

.bucket__container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;

  @include rn.breakpoint("l") {
    flex-direction: row;
  }
}

.bucket {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rn.color('neutral', '500');
  padding: 22px;
  border-radius: 4px;
  width: 100%;
  height: 80px;

  &:first-of-type {
    margin-bottom: 1rem;
  }

  @include rn.breakpoint("l") {
    width: calc(50% - 1rem);

    &:first-of-type {
      margin-bottom: 0;
    }
  }

  svg {
    transform: translateX(-1rem) scale(.75);

    @include rn.breakpoint('s') {
      transform: unset;
    }
  }
}

.bucket__button {
  display: inline-flex;
  border-radius: 4px;
  padding: rn.spacing('4') rn.spacing('8');
  font-size: 12px;
  white-space: nowrap;

  @include rn.breakpoint('s') {
    font-size: 16px;
  }

  &:hover {
    text-decoration: none;
  }
}

.bucket--sketch {
  .bucket__button {
    background-color: #ffbd00;
    color: rn.color('neutral', '500');

    &:hover {
      background-color: rgba(#ffbd00, .9);
    }
  }
}

.bucket--storybook {
  .bucket__button {
    background-color: #ff4785;
    color: rn.color('neutral', 'white');

    &:hover {
      background-color: rgba(#ff4785, .9);
    }
  }
}
