@import "@royalnavy/css-framework";

$background-color: color(neutral, white);
$border-color: #e9eef1;
$border-radius: 4px;
$heading-color: #3e5667;
$text-color: #748999;

.data-table__table {
  width: 100%;
  border: none;
  font-size: font-size(s);
  color: $text-color;
}

.data-table__caption {
  caption-side: top;
  padding: spacing(4) 0 spacing(6);
  text-align: left;
  color: $heading-color;
  font-weight: 700;
  font-size: font-size(l);
}

.data-table__head {
  display: none;
}

.data-table__heading {
  text-align: left;
  white-space: nowrap;
  text-transform: uppercase;
  color: $heading-color;
}

.data-table__btn-sort {
  border: none;
  display: none;
}

.data-table__row {
  display: block;
  padding: spacing(8) 0;
  border-bottom: 1px dashed $border-color;
  background-color: $background-color;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.data-table__heading,
.data-table__cell {
  padding: spacing(4);
}

.data-table__cell {
  display: block;
  padding: 0 spacing(4) 0 0;
  border: 1px solid $border-color;
  border-bottom: none;

  &::before {
    content: attr(data-column);
    display: inline-block;
    width: 10rem;
    padding: spacing(4);
    margin-right: spacing(4);
    border-right: 1px solid $border-color;
    font-weight: 700;
    color: $heading-color;
    text-transform: uppercase;
  }

  &:first-of-type {
    padding: 0 0 spacing(4) 0;
    border: none;
    font-size: font-size(m);

    &::before {
      display: none;
    }
  }

  &:nth-child(1) span,
  &:nth-child(3) span,
  &:nth-child(4) span {
    font-family: 'Roboto Mono', monospace;
  }

  &:last-of-type {
    border-bottom: 1px solid $border-color;
    font-weight: 700;
  }
}

@include breakpoint("m") {
  .data-table {
    box-shadow: 0 2px 2px 0 rgba(000, 000, 000, 0.05);
  }

  .data-table__table {
    min-width: 20rem;
    border-collapse: collapse;
  }

  .data-table__caption {
    padding: spacing(4) spacing(6);
    border: 1px solid $border-color;
    border-bottom: unset;
    border-radius: $border-radius $border-radius 0 0;
    font-size: font-size(s);
  }

  .data-table__head {
    display: table-header-group;
  }

  .data-table__heading {
    padding: spacing(4) spacing(6);
    border: 1px solid $border-color;
  }

  .data-table__btn-sort {
    display: inline-block;

    svg {
      width: 14px;
      pointer-events: none;
    }
  }

  .data-table__row:last-of-type,
  .data-table__row {
    display: table-row;
    margin-bottom: unset;
    border: 1px solid $border-color;
  }

  .data-table__cell:first-of-type,
  .data-table__cell {
    display: table-cell;
    vertical-align: top;
    padding: spacing(4) spacing(6);
    border: 1px solid $border-color;
    border-bottom: unset;

    &:first-of-type {
      font-size: font-size(s);
      color: $heading-color;
    }

    &::before {
      display: none;
    }
  }
}
