@import "@royalnavy/css-framework";

$background-color: #f8f8f8;
$border-color: #ddd;

.data-table {
  border: none;
  overflow: hidden;
}

.data-table__caption {
  padding: spacing(4) 0;
  caption-side: top;
  text-align: left;
  white-space: nowrap;
}

.data-table__head {
  display: none;
}

.data-table__row {
  display: block;
  padding: spacing(2);
  margin-bottom: spacing(2);
  background-color: $background-color;
  border: 1px solid $border-color;
  border-bottom: 3px solid $border-color;
}

.data-table__heading,
.data-table__cell {
  padding: spacing(4);
  text-align: center;
}

.data-table__cell {
  display: block;
  border-bottom: 1px solid $border-color;

  &::before {
    content: attr(data-column);
    float: left;
    font-weight: 700;
  }
}

@include breakpoint("m") {
  .data-table {
    table-layout: fixed;
    min-width: 20rem;
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  .data-table__head {
    display: table-header-group;
  }

  .data-table__row {
    display: table-row;
    margin-bottom: unset;
    border: 1px solid $border-color;
  }

  .data-table__cell {
    display: table-cell;
    border-bottom: unset;

    &::before {
      display: none;
    }
  }
}
