.content-box {  
  padding: 40px 0;
  margin-right: 80px;
  h1, h2, h3 {
    font: {
      size: 26px;
      weight: 600;
    }
    color: #2e3c42;
    margin-bottom: 20px;
  }

  p {
    font: {
      size: 16px;
      weight: 500;
    }
    color: #6d8791;
    a:not(.button) {
      color: #4b92d1;
      font-weight: 600;
    }
  }

  &.quick-links {
    margin-left: 60px;
    margin-right: 0;
    padding: 0;
    h1, h2, h3 {
      font: {
        size: 22px;
        weight: 600;
      }
      color: #2e3c42;
      display: none;
    }
    ul {
      margin-top: 0;
      padding: 36px 40px 40px 100px;
      background-color: #1e242b;
      list-style: none;
      margin-bottom: 0;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 60px;
        text-align: center;
        background-color: #1b2329;
        content: "";
      }
      &::after {
        content: "QUICK LINKS";
        position: absolute;
        left: 0;
        height: 30px;
        top: 50%;
        color: #6a93a0;
        margin-top: -15px;        
        transform: rotate(-90deg) translateY(-100%);
        letter-spacing: 4px;
        font: {
          size: 14px;
          weight: 600;
        }
      }
    }
    a {
      display: block;
      margin-bottom: 4px;
      transition: color 0.3s;
      font: {
        size: 18px;
        weight: 500;
      }
      &.design {
        color: #7cd1f8;
      }
      &.develop {
        color: #7eaef8;
      }
      &.system {
        color: #988ffd;
      }
      &:hover {
        color: white;
      }
    }
    li {
      margin-bottom: 30px;
      border-bottom: 1px solid #272f39;
      padding-bottom: 30px;
      color: #cbd8e8;
      line-height: 1.5;
      font-size: 14px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}