name: Project Automation - stale issues

on:
  schedule:
    - cron: '0 1 * * 1'

jobs:
  Update_stale_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Add label & comment to stale issues
        uses: actions/stale@v3
        with:
          stale-issue-message: 'This issue has been marked as stale because it has been open for 60 days with no activity'
          days-before-stale: 60
          days-before-close: -1
          stale-issue-label: 'Status: Stale'
          exempt-issue-labels: 'Release: Next major'
