.swatch-container {
  display: inline-block;  
  margin-right: 20px;
}

.swatch {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 3px;
}

.swatch-label {
  text-align: center;
  font-size: font-size("s");
  width: 100%;
  display: block;
  margin-top: 10px;
  color: #11202b;
}